@import 'mixin.styl'

.g-banner
	using-flex(column, center, center)
	height 635px
	background-image url(../img/products/products-banner.jpg)
	using-background()
	position relative
	&:before
		content ''
		width 100%
		height 100%
		background linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%,
											rgba(0, 0, 0, 0.9) 25%,
											rgba(0, 0, 0, 0.85) 50%,
											rgba(0, 0, 0, 0.7) 70%,
											rgba(0, 0, 0, 0.4) 100%)
		position absolute
		left 0
		top 0
.g-banner-content
	text-align center
	color white
	position relative
	z-index 2
	h5
		font-family 'Roboto-Bold'
		font-size 66px
		margin-bottom 10px
	h6 
		font-family 'Roboto-Light'
		font-size 25px
		strong 
			margin 0 7px
@media screen and (max-width 768px)
	.g-banner 
		height 500px
	.g-banner-content
		h5 
			font-size 50px
		h6 
			font-size 20px
@media screen and (max-width 480px)
	.g-banner 
		height 400px
	.g-banner-content
		h5 
			font-size 28px
			margin-bottom 10px
		h6 
			font-size 16px
			strong 
				font-family 'Roboto-Bold'
