@import 'mixin.styl'

.body-blog 
	.list-items
		li 
			&:nth-of-type(5)
				a 
					&:after
						item-header-active()
	.footer-bottom 
		border-top 1px solid #ddd
		box-shadow 1px 0px 10px rgba(#ddd, 0.7)
	.footer-top 
		display none
.blog 
	&.g-banner
		background-image url(../img/blog/blog-background.jpg)	
	.g-banner-content
		width 90%
		max-width 540px
		margin 0 auto
		top 19px
		h5 
			margin-bottom 5px
		h6 
			line-height 1.2
.blog-content 
	padding 80px 0 84px
	.wancho 
		max-width 1170px
.blog-content-title
	padding-bottom 22px
	border-bottom 1px solid #b9b9b9
	h6
		font-family font-6
		font-size 22px
.blog-new-big
	using-flex(row, space-between, flex-start)
	margin-top 33px
.new-big-photo
	//background-image url(../img/blog/blog-new-big.jpg)
	using-background()
	width 66%
	max-width 772px
	height 397px
	position relative
	/*img 
		img-responsive()*/
.category
	width 171px
	height 43px
	line-height 43px
	text-align center
	background-color green-doapps
	position absolute
	right 10px
	bottom -15px
	h6 
		color white
		text-transform uppercase
		font-family font-8
		font-size 16px
		line-height 43px
		text-align center
.blog-new-description
	width 34%
	padding 25px 0 0 47px
	h2 
		font-family font-3
		font-size 36px
		margin-bottom 7px
		letter-spacing -.02em
		line-height 1.1
		color rgba(0, 0, 0, 0.8)
	p 
		font-family font-1
		font-size 18px
		color rgba(0, 0, 0, 0.8)
		line-height 1.2
		letter-spacing -.02em
.row-author
	using-flex(row, flex-start, center)
	margin-top 25px
	figure 
		img 
			img-responsive()
			border-radius 50%
.author-name
	margin-left 18px
	h5 
		font-family font-8
		font-size 14px
		color green-doapps
		line-height 1.4
	h6 
		font-family font-1
		font-size 12px
		color rgba(0, 0, 0, 0.44)
		line-height 1.4
.new-small
	width calc(50% - 14px)
	max-width 377px
	margin-bottom 72px
	.blog-new-description
		width 100%
		padding 33px 0 0
		h2
			font-size 24px
		p 
			padding-top 2px
.new-small-photo
	//background-image url(../img/blog/blog-new-small.jpg)
	using-background()
	width 100%
	height 256px
	position relative
	/*img 
		img-responsive()*/
.blog-list-new-small
	using-flex(row, space-between, flex-start) 
	//width 66%
	width calc(100% - 368px)
	max-width 772px
.blog-pagination
	width 100%
	text-align center
	margin-top 1px
	.pages 
		color #2a2a2a
		font-family font-2 
		font-size 20px
.number-pag 
	width 40px 
	height 40px 
	text-align center
	border 1px solid #2a2a2a
	line-height 40px 
	font-family font-1
	font-size 22px
	color #2a2a2a
	margin 0 12px
	&.active 
		border-color green-doapps
		color green-doapps
.publicity
	//width 34%
	//max-width 368px
	width 368px
.blog-content-down
	padding-top 57px
	using-flex(row, space-between, flex-start)
.publicity-image
	width 100%
	img 
		img-responsive()
.question
	text-align center
	border 1px solid rgba(191, 191, 191, 0.5)
	padding 60px 56px 51px
	margin-bottom 47px
	h5 
		font-family font-3
		//font-size 35px
		max-width 150px
		font-size 25px 
		color #070707
		margin 12px auto 24px
		//margin 12px 0 24px
		//line-height 1.1
	h6 
		max-width 254px
		font-family font-1
		//font-size 22px
		font-size 18px
		color lead-text
		margin 0 auto 38px
		//margin-bottom 38px
		line-height 1.2
	i
		display inline-block
		color green-doapps
		font-size 50px
		border 3px solid green-doapps
		padding 10px 
		border-radius 50%
		margin-bottom 10px
.question-buttons
	.g-btn 
		//width 115px
		//height 55px
		//line-height 55px
		max-width 118px
		height 52px 
		line-height 52px
		&:nth-of-type(1)
			margin-right 17px
.btn-respon
	display none
@media screen and (max-width 1260px)
	.blog-list-new-small
		padding-right 30px
@media screen and (max-width 1100px)
	.new-small-photo
		height 200px
@media screen and (max-width 1024px)
	.blog-new-description
		padding-left 25px
		padding-top 0
		h2
			font-size 35px
	.publicity
		//padding-left 20px
		width 320px
		box-sizing border-box
	.question
		padding 40px 20px 40px
	.blog-list-new-small
		width calc(100% - 320px)
	.question-buttons
		.g-btn 
			padding 0 40px
@media screen and (max-width 980px)
	.body-blog 
		.list-items
			li 
				&:nth-of-type(5)
					a 
						background-color white
						color #000
@media screen and (max-width 960px)
	.blog-new-big, .blog-content-down
		flex-direction column
		
	.new-big-photo, .blog-list-new-small
		max-width 100%
		width 100% 
	.blog-list-new-small
		padding-bottom 30px
		padding-right 0
	.blog-new-description
		width 100%
		padding-left 0
		padding-top 30px
	.publicity
		max-width 100%
		width 100%
		padding-left 0

	.publicity-image 
		text-align center
		img
			display inline-block
	.new-small
		width calc(33.33333% - 14px)
@media screen and (max-width 850px)
	.new-small
		width calc(50% - 10px)
	.new-small-photo
		height 256px
@media screen and (max-width 768px)
	.blog-content
		padding 45px 0 75px
@media screen and (max-width 640px)
	.blog-new-description 
		h2
			font-size 22px
		p
			font-size 16px
	.new-small .blog-new-description 
		h2
			font-size 22px
		p
			font-size 16px
	.category:after
		display none
	.new-small-photo
		height 200px
	.category
		h6 
			font-size 14px
@media screen and (max-width 480px)
	.blog 
		.g-banner-content
			top 30px
			h5 
				margin-bottom 10px
	.blog-new-big
		margin-top 24px
	.btn-respon
		display block
		text-align center
		width 100%
	.blog-content-title
		padding-bottom 15px
		h6 
			font-size 19px
	.blog-content
		padding 30px 0 70px
	.blog-list-new-small
		padding-bottom 0
	.new-small
		width 100%
		max-width 100%
		margin-bottom 40px
		.blog-new-description
			padding-top 20px
	.author-name 
		h5
			font-size 16px
		h6
			font-size 14px

	.blog-pagination
		display none
	.publicity
		padding-top 45px

	.question h5
		font-size 25px
	.new-small-photo, .new-big-photo
		height 256px
@media screen and (max-width 375px)
	.blog 
		.g-banner-content
			width 95%
	.new-small-photo, .new-big-photo
		height 200px
@media screen and (max-width 350px)
	.new-small-photo, .new-big-photo
		height 164px
	.question-buttons
		.g-btn
			display block
			margin 0 auto 
			&:nth-of-type(1)
				margin-right auto
				margin-bottom 20px