.blog 
	&.g-banner
		background-image url(../img/blog/blog-background.jpg)
.blog-content-title
	padding-bottom 25px
	h6
		font-family 'Roboto-Black'
		font-size 22px
.blog-new-big
	outline 2px solid red 
.new-big-photo
	position relative
	img 
		img-responsive()
.category
	width 171px
	height 43px
	background-color green-doapps
	color white
	position absolute
	right 10px
	bottom -15px
	font-family 'Roboto-Medium'
	font-size 16px
	&.code 
		content 'PROGRAMACIÓN'
.blog-new-description
	h2 
		font-family 'Roboto-Bold'
		font-size 50px
		color black-text
	p 
		font-family 'Roboto-Light'
		font-size 22px
		color lead-text
.row-author
	
		
	
