@import 'mixin.styl'

.contact-title
	text-align center
	padding 100px 0 
	.g-title
		span
			display block
	p
		font-family 'Roboto-Light'
		font-size 25px
		margin-top 10px
		color #343434
		&:last-child
			font-family 'Roboto-Black'
			
	a
		font-family 'Roboto-Black'
		font-size 22px
		color #343434
		padding 0 10px
.contact-map
	height 646px
	width 100%