@import 'mixin.styl'

.body-courses
	.footer-top
		display none
	.footer-bottom
		position relative
		z-index 2
.courses-banner
	width 100%
	height 800px
	background-image url(../img/courses/courses-background.jpg)
	using-background()
	position relative
	&:before
		content ''
		width 100%
		height 100%
		background linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%,
											rgba(0, 0, 0, 0.9) 20%,
											rgba(0, 0, 0, 0.7) 50%,
											rgba(0, 0, 0, 0.4) 70%,
											rgba(0, 0, 0, 0.2) 100%)
		position absolute
		left 0
		top 0
	.wancho 
		using-flex(row, space-between, flex-end)
		height 100%
		padding-bottom 55px
		position relative
		z-index 1
.courses-date
	width 50%
	max-width 457px
	margin-bottom 80px
	color white
	h4 
		font-family font-3
		font-size 60px
		line-height 60px
		letter-spacing -3px
		max-width 330px
	h5, h6 
		font-family font-1
	h5 
		font-size 22px
		margin 22px 0 7px
	h6 
		font-size 35px
.courses-form
	width 50%
	max-width 470px
	padding-left 20px
	background-color white
	padding 68px 49px 57px
	text-align center
	h5 
		font-family font-6
		font-size 35px
		margin-bottom 67px
	.input-container 
		using-flex(row, flex-start, flex-end)
		width 100%
		margin-left 0
		margin-bottom 52px
		&:nth-child(even)
			margin-left 0
	.form-input
		border-bottom 1px solid rgba(130, 130, 130, 0.6)
		padding-left 45px
		color #343434
		font-family font-2
	.lively-bar
		background-color green-doapps
		transition all 1s
	.row-input-content
		top 0
		label 
			font-family font-2
			font-size 22px
			position relative
			color #7d7d7d
			margin-left 5px
			transition .2s ease-out
		/*img 
			position relative
			top 0*/
		&.active
			//top 0
			/*img 
				width 38px 
				height auto
				top 0*/
			label 
				font-size .8rem
				transform translateY(-140%)
	button
		margin-top -12px
.courses-objectives
	background-color #fcfcfc
	padding 137px 0 130px
	.wancho
		max-width 1190px
	.g-title
		margin-bottom 85px
.courses-objectives-list
	using-flex(row, space-between, flex-start)
	width 100%
.courses-objectives-item
	using-flex(row, space-between, flex-start)
	width 45%
	max-width 530px
	margin-bottom 70px
	p 
		width calc(100% - 27px)
		max-width 490px
		padding-left 20px
		font-size 22px 
		font-family font-2
		color #070707
		line-height 1.25
.courses-temary
	width 100%
	background-image url(../img/courses/courses-temary-background.jpg)
	using-background()
	padding 94px 0 105px
	.wancho
		max-width 1175px
	.g-title
		margin-bottom 55px
.courses-temary-row
	using-flex(row, space-between, flex-start)
.courses-temary-item
	width calc(33.333% - 20px)
	max-width 372px
	//height 523px
	height auto
	border 1px solid #bebebe
.courses-temary-item-top
	using-flex(row, center, center)
	height 70px
	line-height 70px
	text-align center
	background-color #343434
	figure
		img 
			display block
	h5 
		text-transform uppercase
		color white
		margin-left 20px
		font-size 22px 
		font-family font-3
.courses-temary-item-bottom
	height auto
	padding 57px 32px
	background-color white
.courses-temary-item-li
	position relative
	padding-left 20px
	font-size 22px 
	font-family font-2
	color black-text
	margin-bottom 28px
	line-height 1.17
	&:nth-last-child(1)
		margin-bottom 0
	&:before
		content ''
		width 5px 
		height 5px 
		background-color green-doapps
		border-radius 50%
		position absolute
		left 0
		top 50%
		-webkit-transform translateY(-50%)
		transform translateY(-50%)
.courses-teacher
	padding 132px 0 169px
	.wancho
		max-width 1070px
	.g-title
		margin-bottom 99px
.courses-teacher-row
	using-flex(row, space-between, flex-start)
.courses-teacher-item
	width 45%
	using-flex(row, flex-start, center)
	figure
		img 
			border-radius 50%
			display block
.courses-teacher-description
	width calc(100% - 166px)
	max-width 310px
	padding-left 35px
	h5 
		font-family font-8
		font-size 26px
		color green-doapps
		margin-bottom 9px
	p 
		font-family font-1
		font-size 18px
		color #4e4e4e
		line-height 1.47
		a 
			color #4e4e4e
.courses-feature
	width 100%
	background-image url(../img/courses/courses-temary-background.jpg)
	using-background()
	padding 146px 0 227px
	.wancho
		max-width 1020px
	.g-title
		margin-bottom 72px
.courses-feature-row
	using-flex(row, space-between, flex-start)
.courses-feature-item
	text-align center
	width 33.333%
	max-width 290px
	padding 0 20px
	figure
		img 
			display block
			margin 0 auto
	h6 
		font-size 22px
		font-family font-6
		margin 21px 0 10px
	p
		font-family font-2
		font-size 16px
		line-height 1.6
.courses-cost 
	background-color #343434
	padding 81px 0 88px
	.g-title
		margin-bottom 45px
		h5 
			color white
.courses-cost-row
	using-flex(row, center, center)
.courses-cost-item
	width calc(50% - 15px)
	max-width 403px
	&:nth-last-child(1)
		margin-left 30px
.courses-cost-top
	width 100%
	height 70px
	padding 0 15px
	background-color #282727
	h6 
		line-height 70px
		text-align center
		font-family font-3
		font-size 20px
		text-transform uppercase
		color white
		font-weight bold 
.courses-cost-middle
	using-flex(column, center, center)
	width 100%
	height 223px
	background-color #26ad91
	padding 0 15px
	text-align center
	h4 
		display inline-block
		position relative
		font-family font-3
		font-size 108px
		color white
		text-align center
		letter-spacing -5px
		&:before, &:after
			font-family font-3
			font-size 41px
			position absolute
			color white
			letter-spacing 0
		&:before
			content 'S/.'
			top 20px 
			left -60px
		&:after
			content '.00'
			top 5px
			right -65px
	h6 
		font-family font-3
		font-size 20px
		text-transform uppercase
		letter-spacing 9px
		color white
		margin-top 3px
.courses-cost-bottom
	background-color white
	padding 50px 86px 30px
	text-align center
	a 
		margin-top 47px
.courses-cost-bottom-li
	using-flex(row, flex-start, flex-start)
	margin-bottom 28px 
	height calc(100% - 293px)
	background-color white
	&:nth-last-child(1)
		margin-bottom 0px
	h6 
		width calc(100%- 27px)
		font-size 18px
		font-family font-3
		color black-text
		padding-left 12px
		text-align left
		line-height 1.25
	figure
		img 
			display block

.courses-temary-row
	.courses-temary-item
		.courses-temary-item-top
			h5
				span
					display: none;

@media screen and (max-width 1024px)
	.courses-date
		h4 
			font-size 50px
	.courses-temary-item
		width calc(33.3333% - 10px)
		li 
			font-size 20px
	.courses-temary-item-bottom
		padding 40px 20px

@media screen and (max-width 768px)
	.courses-objectives, .courses-temary, .courses-teacher, .courses-feature, .courses-cost
		padding: 80px 0 80px;
		.g-title
			margin-bottom: 80px;
			h5
				font-size: 35px !important;
	.courses-objectives-item
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		max-width: initial;
	.courses-temary
		.courses-temary-row
			.courses-temary-item
				width: 100%;
				margin: 0 auto;
	.courses-teacher-item
		width: 100%;
		margin-bottom: 45px;
		flex-direction: column;
		.courses-teacher-description
			width: auto;
			padding-left: 0;
			text-align: center;
			margin-top: 30px;
	.courses-feature
		.courses-feature-row
			flex-flow: column;
			.courses-feature-item
				width: 100%;
				margin: 0 auto;
				margin-bottom: 45px;
				&:last-child
					margin-bottom: 0;
	.courses-cost
		.courses-cost-row
			.courses-cost-item
				width: 100%;
				margin: 0 auto;
				&:nth-last-child(1)
					margin: 45px auto 0;
	.courses-banner
		height: 1000px;
	    .courses-form
			width: 100%;
			margin: 0 auto;
		.courses-date
			text-align: center;
			width: 100%;
			margin: 140px auto 40px;
			h4
				max-width: initial;

@media screen and (max-width 480px)
	.courses-objectives, .courses-temary, .courses-teacher, .courses-feature, .courses-cost
		padding: 60px 0;
		.g-title
			margin-bottom: 45px;
			h5
				font-size: 28px !important;
	.courses-objectives-item
		margin-bottom: 30px;
		p
			font-size: 16px;
	.courses-temary-row
		.courses-temary-item
			&:first-child
				.courses-temary-item-bottom
					display: block;
			.courses-temary-item-top
				cursor: pointer;
				position: relative;
				img
					width: 28px;
					height: 28px;
				h5
					font-size: 16px;
					margin-left: 10px;
					span
						display: block;
						position: absolute;
						top: 25px;
						right: 20px;
						font-size: 20px;
			.courses-temary-item-bottom
				display: none;
				li
					font-size: 16px;
	.courses-teacher-item
		.courses-teacher-description
			h5
				font-size: 18px;
			p
				font-size: 16px;
	.courses-feature
		.courses-feature-row
			.courses-feature-item
				h6
					font-size: 18px;
	.courses-cost
		.courses-cost-row
			.courses-cost-item
				.courses-cost-middle
					height: 160px;
					h4
						font-size: 60px;
						letter-spacing: 0;
				.courses-cost-bottom
					padding: 50px 30px 30px;
					li
						h6
							font-size: 16px;
							line-height: 27px;
	.courses-date
		text-align: center;
		width: 100%;
		margin: 60px 0 0;
		h4
			font-size: 36px;
			line-height: 40px;
		h5
			font-size: 24px;
		h6
			font-size: 18px;
	.courses-form
		padding: 68px 30px 57px;
		.row-input-content
			label
				font-size 16px