@import 'mixin.styl'

.body-detail-project
	.list-items
		li 
			&:nth-of-type(2)
				a 
					&:after
						item-header-active()
.project-title
	using-background()
	position relative
	padding-top 156px
	&:after
		content ''
		width 100%
		height 100%
		background linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%,
												rgba(0, 0, 0, 0.9) 50%,
												rgba(0, 0, 0, 0.8) 100%)
		position absolute
		left 0
		top 0
	.wancho 
		using-flex(row, space-between, flex-end)
		position relative
		z-index 1
.project-title-left
	width calc(100% - 330px)
	color white
	padding 0 40px 87px 0 
	h5
		font-family font-3
		font-size 67px
		line-height 1.15
	h6 
		width 45%
		font-family font-1
		font-size 26px
		line-height 1.2
.detail-client, .detail-proposal
	padding 140px 0 160px
.row-detail-client-title
	using-flex(row, center, center)
	margin-bottom 50px
	h6
		width 80px 
		height 80px
		text-align center 
		line-height 80px
		font-family font-6
		font-size 25px
		color #4b4b4b
		border-radius 50%
		border 2px solid #4b4b4b
		margin-right 26px
.detail-client-p
	width 86.5%
	margin 0 auto
	p 
		font-family font-1
		font-size 22px
		color #353535
		text-align center
		line-height 1.6
		strong 
			font-family font-3
			margin 0 7px
.detail-proposal
	background-color green-doapps
	.row-detail-client-title
		h6 
			color white 
			border 2px solid white
		.g-title 
			color white
	.detail-client-p
		p 
			color rgba(white, 0.8)
			strong
				color white
.detail-design
	background-color #1a1a1a
	padding 174px 0 278px
	position relative
	overflow hidden
	&:before
		display none
		content ''
		width 100%
		height 40%
		border-radius 150% 150% 0 0
		border-top 1px solid #2e2e2e
		border-left 1px solid #2e2e2e
		border-right 1px solid #2e2e2e
		border-bottom 1px solid transparent
		position absolute
		left 50 
		bottom 0
		z-index 1
		transform rotateX(180deg) translateY(-50%)
	.row-detail-client-title
		h6 
			color white
			border 2px solid white
	.g-title
		h5 
			color white
			span 
				color white
	.detail-row-screen
		width 92%
		max-width 1242px
		using-flex(row, space-between, center)
		margin 0 auto
		position relative
		z-index 2
		&:before 
			content ''
			z-index 1
			width 140%
			height 140%
			border-radius 50%
			border 1px solid #2e2e2e
			/*border-left 1px solid #2e2e2e
			border-right 1px solid #2e2e2e
			border-bottom 1px solid transparent*/
			position absolute
			left 50%
			top 50%
			-webkit-transform translate(-50%, -50%)
			transform translate(-50%, -50%)
			margin-top -50px
	.screen
		position relative
		z-index 2
		img 
			img-responsive()
		&:nth-of-type(1), &:nth-of-type(3)
			width calc(30% - 14px)
		&:nth-of-type(2)
			width 40%
.logo-project
	width 23%
	text-align center
	margin 50px auto 0
	img 
		img-responsive()
		margin 0 auto
.detail-wireframe
	padding 172px 0 92px
	background-color white
.detail-wireframe-title
	width auto
	padding-left 27px
	position relative
	&:before
		content ''
		width 5px 
		height 90%
		background-color green-doapps
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
	.g-title
		text-align left
		line-height 1
	h6 
		color #656565
		font-family font-1
		font-size 22px
		margin-top 5px
.detail-wireframe-row-screen
	using-flex(row, space-around, center)
	figure
		width calc(25% - 48px)
		margin 50px 24px 0
		img 
			width 100%
			img-responsive()
			margin 0 auto
.detail-wireframe-subtitle
	margin 20px 0 40px
	position relative
	z-index 2
	p 
		font-family font-1
		font-size 20px
		color #1a1a1a
		line-height 1.6
.f-s-colors-container
	using-flex(row, space-between, center)
	width 100%
	max-width 706px
	margin 227px auto 227px
	position relative
	z-index 1
	&:before
		content ''
		width 496px
		height 496px
		background-color #fbfbfb
		border-radius 50%
		position absolute
		left 50%
		top 50%
		-webkit-transform translate(-50%, -50%)
		transform translate(-50%, -50%)
		z-index -1
.f-s-colors-left
	using-flex(row, space-between, flex-start)
	width 394px
.f-s-color
	width 120px 
	height 97px
	position relative
	box-shadow 2px -2px 15px rgba(0, 0, 0, 0.15)
	border-radius 10px
	margin-bottom 22px
	&:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3)
		margin-bottom 0
	&:after
		content '#ff7400'
		width 100%
		height 27px
		line-height 27px
		text-align center
		background-color white
		position absolute
		left 0
		bottom 0
		color #1c1c1c
		font-family font-1
		font-size 13px
		border-radius 0 0 10px 10px
.final-screen
	padding 50px 0 20px
	position relative
	z-index 1
.f-s-typography
	width 220px
	height 178px
	position relative
	background-color white
	box-shadow 2px -2px 15px rgba(0, 0, 0, 0.15)
	text-align center
	border-radius 8px
	.f-s-typography-top, .f-s-typography-bottom
		width 100%
		color #1c1c1c
		text-align center
		position absolute
		left 0
	.f-s-typography-top
		height 130px 
		top 0
		h5
			font-size 56px
			line-height 130px
	.f-s-typography-bottom
		height 48px
		bottom 0
		border-top 1px solid #efefef
		h5 
			font-size 18px
			line-height 48px
.set-screen
	width 100%
	height 1202px
	background-color #eeeeee
	position relative
.set-screen-background
	using-background()
	width 100%
	height 100%
	position absolute
	left 0
	top 0
.results
	padding 155px 0 186px
	.row-detail-client-title
		margin-bottom 30px
	.we-develop-bottom
		width 100%
		max-width 650px
		using-flex(row, space-around, flex-end)
		margin 60px auto 0
	.row-timer
		using-flex(row, center, center)
		flex-flow row nowrap
		h4
			font-family font-6
			font-size 60px
		span 
			font-size 60px
			color #1a1a1a
			font-family font-6
	.item-we-develop
		width 33.333%
		padding 0 15px
		border-right 2px dashed rgba(#1a1a1a, 0.3)
		text-align center
		color #1a1a1a
		&:nth-of-type(1)
			img 
				margin-bottom -16px 
			h5 
				margin-top 2px
		&:nth-last-child(1)
			border-right 0
		img 
			margin-bottom 8px
		h6 
			font-family font-6
			font-size 60px
		h5 
			width 100%
			max-width 100px
			line-height 1.2
			font-family font-2
			font-size 15px
			text-transform uppercase
			margin 9px auto 0
.results-button-apps
	width 100%
	max-width 500px
	using-flex(row, center, center)
	text-align center
	margin 60px auto 0
	.link-app
		width calc(50% - 20px)
		margin 0 10px
		img 
			img-responsive()
.detail-project-share
	background-color #1a1a1a
	padding 84px 0 94px
	.wancho 
		using-flex(row, space-between, center)
		max-width 1140px
	.g-title
		width 100%
		max-width 262px
		h5 
			color white
			text-align left
			span 
				display block
				margin -5px 0 0
	.btn-share-container
		using-flex(row, space-between, center)
		width 100%
		max-width 604px
	.btn-share
		using-flex(row, center, center)
		width 190px
		height 60px
		color white
		text-align center
		border-radius 4px
		margin 0
		&:nth-of-type(1)
			background-color #23539d
		&:nth-of-type(2)
			background-color #00a8f6
			margin 0 15px
		&:nth-of-type(3)
			background-color #258ab0
		i 
			font-size 25px 
			margin-right 5px
		h6 
			display inline-block
			font-size 16px
			line-height 45px
			color white
			font-family font-6
			text-transform uppercase
.detail-project-share-number
	using-flex(column, center, center)
	color white
	padding-left 40px
	position relative
	h5 
		font-family font-3
		font-size 50px
	h6 
		font-size 22px 
		font-family font-1
	&:before
		content ''
		width 1px 
		height 130px
		background-color rgba(white, 0.4)
		position absolute
		left 0
		top 50%
		transform translateY(-50%)

.slider-carousel-container
	display: none;
	.row-carousel
		text-align: center;
		img
			max-width: 500px;
			max-height: 500px;
			padding: 50px;

.owl-dots
	using-flex(row, center, center)
	margin-top 35px
.owl-dot
	width 12px
	height 12px
	background-color #727272
	border-radius 50%
	cursor pointer
	margin 0 13px
	&.active, &:hover
		width 15px
		height 15px
		background-color white
		border 2px solid #727272
.project-title-img
	img 
		max-width 100%
		height auto 
		display block
@media screen and (max-width 1024px)
	.detail-client, .detail-proposal, .detail-design, .detail-wireframe, .results
		padding: 80px 0;
	.project-title-left
		h5
			line-height: 1;
			margin-bottom: 30px;
		h6
			width: 70%
	.row-detail-client-title
		flex-flow: column;
		h6
			margin-right: 0;
			margin-bottom: 26px;
	.detail-project-share
		.g-title
			margin: 0 auto;
			h5
				text-align: center;
				line-height: 1.4em;
				font-size: 28px !important;
		.btn-share-container
			margin: 50px auto;
		.detail-project-share-number
			width: 100%;
			padding: 0 50px;
			&:before
				width: 100%;
				height: 2px;
				position: relative;
				left: 0;
				top: 0;
			h5
				padding-top 50px
			
@media screen and (max-width 980px)
	.body-detail-project
		.list-items
			li 
				&:nth-of-type(2)
					a 
						background-color white
						color #000
@media screen and (max-width 960px)
	.project-title-left
		width 60%
		h5 
			font-size 45px
			margin-bottom 20px
		h6 
			width 100%
			font-size 22px
	.project-title-img
		width 40%
@media screen and (max-width 680px)
	.project-title
		.wancho
			.project-title-left
				width 100%
				max-width: 80%;
				margin: 0 auto;
				padding: 0 0 50px;
				text-align: center;
				h5
					margin-bottom: 15px;
					font-size: 28px;
				h6
					width: initial;
					font-size: 20px;
			> img
				max-width: 80%;
				margin: 0 auto;
				height: initial;
	.detail-client-p
		width 100%
		p
			text-align: justify

	.detail-client, .detail-proposal, .detail-design, .detail-wireframe, .results, .detail-project-share
		padding 45px 0;
		.row-detail-client-title
			margin-bottom: 30px;
		.logo-project
			display: none;

	.detail-wireframe-subtitle
		display: none

	.f-s-colors-container
		margin: 40px 0;
		position: relative;
		z-index: 1;
		flex-direction: column-reverse;
		.f-s-colors-left
			width 100%
			margin-top: 30px;
	.f-s-typography
		width 100%
		max-width 230px
	.set-screen
		height: 450px;

	.we-develop-bottom
		margin-top 40px
		.item-we-develop
			width 50%
			border: 0;
			margin-bottom: 30px;
			h5
				max-width: initial;
	.results-button-apps
		margin 20px auto 0

	.btn-share-container
		justify-content: center !important;

	.btn-share
		&:nth-of-type(1)
			margin-bottom 20px !important
		&:nth-of-type(2)
			margin-bottom 20px !important
		&:nth-of-type(3)
			margin-bottom 20px !important
	.detail-project-share
		.detail-project-share-number
			width 100%
			padding 0 20px
			h5 
				padding-top 20px
	.detail-project-share-number
		h5 
			font-size 35px
	.results 
		.we-develop-bottom
			margin-top 30px
		.row-timer 
			span, h6, h4
				font-size 40px
		.item-we-develop
			h6 
				font-size 40px
	.detail-project-share
		.btn-share-container
			margin-bottom 10px
	.f-s-colors-left
		justify-content center
	.f-s-color 
		margin 10px
	.final-screen
		padding 45px 0 20px
	.project-title-img
		width 70%
		margin 0 auto
		img 
			margin 0 auto
@media screen and (max-width 560px)
	.detail-client-p p
		font-size: 16px
	.detail-row-screen
		display: none !important;
	.detail-wireframe-row-screen
		display: none !important;
	.slider-carousel-container
		display: block;
		.row-carousel
			text-align: center;
			margin-top: 50px;
			img
				max-width 80%
				margin 0 auto
				max-height initial
				padding 0 50px
				width 100%
@media screen and (max-width 480px)
	.detail-client, .detail-proposal, .detail-design, .detail-wireframe, .results, .detail-project-share
		padding 30px 0
	.f-s-typography
		max-width 190px
		height 150px
		&:before
			height 102px 
			line-height 102px
			font-size 35px
	.f-s-color
		width calc(50% - 20px)
	.we-develop-bottom
		.item-we-develop
			width 100%
	.results-button-apps
		margin-top 10px
		flex-flow column wrap
		.link-app
			width 100%
			max-width 200px
			margin 10px
	.final-screen
		padding 30px 0 0
	.results
		padding 30px 0 20px

