@import 'mixin.styl'

.detail-blog-content
	padding 132px 0 23px
	.wancho
		max-width 1168px
	.blog-new-description
		padding 38px 0 0
		p 
			line-height 1.25
	.row-author
		margin-top 27px
.detail-blog-new
	width 66%
	max-width 771px
.detail-blog-new-title
	margin-bottom 43px
	h3 
		font-family font-3
		font-size 40px
		color rgba(0, 0, 0, 0.8)
		line-height 1.04
		letter-spacing -.028em
.detail-blog-new-photo
	background-image url(../img/detail-blog/new-image.jpg)
	using-background()
	width 100%
	height 397px
	margin-bottom 43px
.detail-blog-description
	p 
		font-family font-1
		font-size 21px
		color rgba(0, 0, 0, 0.8)
		margin-bottom 41px
		line-height 1.58
		letter-spacing -.003em
		&:nth-last-child(1)
			margin-bottom 0
		strong
			font-family font-3
			margin 0 5px
.detail-blog-tags
	using-flex(row, flex-start, flex-start)
	margin-top 42px
	i 
		font-size 32px
		color rgba(lead-text, 0.8)
		transform rotateY(180deg)
.detail-group-tag
	using-flex(row, flex-start, flex-start)
	width calc(100% - 32px)
	padding-left 20px
.tag 
	width auto
	height 40px
	text-align center
	border 1px solid lead-text
	margin 0 8px 16px
	padding 0px 36px
	a 
		line-height 40px
		font-size 16px
		color lead-text
		font-family font-8
.btn-share
	using-flex(row, center, center)
	width 170px
	height 45px
	color white
	text-align center
	border-radius 10px
	&:nth-of-type(1)
		background-color #23539d
	&:nth-of-type(2)
		background-color #00a8f6
		margin 0 15px
	&:nth-of-type(3)
		background-color #258ab0
	i 
		font-size 20px 
		margin-right 5px
	h6 
		display inline-block
		font-size 12px
		line-height 45px
		color white
		font-family font-6
		text-transform uppercase
.number-share
	using-flex(row, flex-end, center)
	width 193px
	height 45px
	border-left 1px solid rgba(100,100,100,0.7)
	text-align right
	h6, h5
		color #212121
		display inline-block
	h6 
		font-family font-3
		font-size 35px
		margin-right 8px
	h5 
		font-family font-1
		font-size 20px
.detail-blog-author-description
	width 100%
	max-width 200px
	h5 
		color green-doapps
		font-family font-8
		font-size 18px
		line-height 1.1
	p 
		margin-top 9px
		font-family font-1
		font-size 14px
		color rgba(0, 0, 0, 0.6)
		line-height 1.3
		a 
			color rgba(0, 0, 0, 0.6)
.detail-blog-top
	using-flex(row, space-between, flex-start)
	.publicity
		position relative
		top -30px
		.question
			margin-bottom 29px
.detail-blog-share
	using-flex(row, space-between, center)
	margin-top 33px
.btn-share-container
	width calc(100% - 193px)
	using-flex(row, flex-start, center)
.comments-facebook
	width 100%
	height 704px
	background-color rgba(lead-text, 0.05)
	margin 65px 0 47px
.detail-blog-author
	using-flex(row, flex-start, flex-start)
	margin-bottom 106px
	figure
		margin-right 20px
		img 
			border-radius 50%
.detal-blog-row-news
	using-flex(row, space-between, center)
	margin-top 36px
	.new-small
		width 31.7%
.nav-lateral
	margin-top 55px
	h5 
		font-family font-2
		padding-bottom 6px
		font-size 20px
		color lead-text 
		border-bottom 1px solid rgba(lead-text, 0.3)
		margin-bottom 20px 
.nav-lateral-ul
	margin-bottom 40px
	&:nth-last-child
		margin-bottom 0
	li 
		margin-bottom 5px 
		&:nth-last-child(1)
			margin-bottom 0
			
.nav-lateral-item
	font-family font-1
	font-size 17px
	color lead-text
	position relative
	padding-left 20px
	&:before
		content ''
		width 7px 
		height 7px 
		border-radius 50%
		background-color rgba(lead-text, 0.7)
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
@media screen and (max-width 1024px)
	.detail-blog-top .publicity
		top 0 
	.detail-blog-new-title h3
		font-size 35px
	.detail-blog-content
		padding-top 50px
		
	.btn-share
		flex-basis 30%
	.btn-share-container
		padding-right 15px
		box-sizing border-box
	.detail-blog-tags
		justify-content space-between
	.tag
		margin 0
	.detail-blog-tags
		figure
			display none
	.new-small .blog-new-description h2
		font-size 
@media screen and (max-width 960px)
	.number-share
		margin-top 40px
		width 100%
		border-left 0
		border-top 1px solid rgba(100,100,100,0.7)
		justify-content center
		padding-top 20px
	.detail-blog-share
		justify-content center
		align-items center
	.btn-share-container
		width 100%
		padding-right 0
		justify-content space-between
	.btn-share:nth-of-type(2)
		margin 0
@media screen and (max-width 768px)
	.detail-blog-new
		width 100%
		max-width 100%
	.detail-blog-author
		justify-content center
		margin-bottom 40px
	.detail-blog-top .publicity
		margin-bottom 40px
	.new-small .blog-new-description h2
		font-size 25px
@media screen and (max-width 640px)
	.detail-blog-new-title 
		margin-bottom 30px
		h3
			font-size 22px
	.detal-blog-row-news .new-small
		width calc(50% - 14px)
@media screen and (max-width 480px)
	.detail-blog-content
		padding-top 40px
	
	.detail-blog-new-title 
		margin-bottom 20px
	.detail-blog-new-photo
		margin-bottom 30px
	.detail-blog-description p
		font-size 16px
	.btn-share-container
		justify-content center
	.detail-blog-share
		margin-top 20px
	.btn-share
		flex-basis 70%
		&:nth-of-type(2)
			margin 25px 0
	.tag
		flex-basis 30%
		margin-bottom 20px
		max-width initial
	.comments-facebook
		margin-top 0
	.detail-blog-author
		margin-top 40px
		flex-direction column
		justify-content center
		align-items center
		figure
			margin 0
			margin-bottom 10px
	.box-responsive
		display flex
		flex-direction column-reverse
	.detal-blog-row-news .new-small
		width 100%
	.publicity
		padding-top 0
	.detail-blog-author-description 
		h5
			font-size 18px
			text-align center	
		p
			font-size 16px
			text-align center