@import 'mixin.styl'

.formError
	width 100%
.formError .formErrorContent
	background transparent
	color #fff
	border none
	box-shadow none
	position relative
	&:before
		content ''
		width 100%
		height 0
		border 1px solid rgba(red, 0.8)
		position absolute
		left 0
		top -5px
.formError .formErrorArrow div
	display none
.formError .formErrorArrow .line3
	display none
.formError .formErrorArrow .line2,
.formError .formErrorArrow .line1
	display none
.footer-top
	background-image url(../img/footer/footer-background.jpg)
	using-background()
	padding 145px 0 65px
	margin-top -1px
	.g-title
		color white
		margin-bottom 84px
		line-height 1
.footer-form
	using-flex(row, space-between, center)
.input-container
	width calc(50% - 23px)
	margin-bottom 66px
	position relative
	&:nth-child(even)
		margin-left 46px
.textarea-container
	width 100%
	margin-bottom 0
	//outline 1px solid red
	padding-top 10px
	textarea
		height 145px
.form-input, .form-select
	display block
	width 100%
	height 50px
	background-color transparent
	border-bottom 1px solid rgba(255, 255, 255, .35)
	font-family font-1
	color #c1c1c1
	font-size 22px
	resize none
	padding-left 40px
.form-select
	font-family font-2
	position relative
	//top -16px
	top 0
	border-bottom 0
	z-index 1
.row-input-content
	width 100%
	using-flex(row, flex-start, flex-start)
	flex-flow row nowrap
	position absolute
	left 0
	//top -7px
	top 14px
	transition all 0.5s
	label, i
		transition all 0.5s
	label
		color white
		font-size 22px
		font-family font-2
		color #c1c1c1
		margin-left 15px
		line-height 1
		transition .2s ease-out
	i
		font-size 25px
	&.active
		label
			font-size .8rem
			transform translateY(-180%)
	&.active1
		label
			font-size .8rem
			transform translateY(-180%)
.row-select-content
	//top -7px
	z-index 0
	&.active
		label
			font-size 22px
			transform translateY(0)
.lively-bar
	width 0
	height 1px
	background-color white
	position absolute
	left 0
	bottom 0
	transition all 0.5s ease
	&.active
		width 100%
.button-form
	margin 76px auto 0
	cursor pointer
	/*@media screen and (min-width 1025px)
		transition all 0.7s
		transform translateY(100px) scaleX(0)
		opacity 0
		&.active
			transform translateY(0) scaleX(1)
			opacity 1*/
.footer-bottom
	.wancho
		using-flex(row, space-between, center)
.footer-bottom-left
	using-flex(row, space-between, center)
	width calc(100% - 125px)
	padding-left 80px
.footer-item
	using-flex(row, flex-start, center)
	padding 13px 0
	h6, a
		color #343434
		font-family font-2
		font-size 14px
	i
		font-size 28px
		margin-right 15px
	&:nth-of-type(2)
		justify-content center
		margin 0 10px
.footer-copyright
	text-align center
	width 100%
	padding 15px 0
	border-top 1px solid #d6d6d6
	h5
		font-family font-2
		text-align center
		color #919191
		font-size 12px
.logo-footer
	margin-top -55px
.ul-form-select
	width 100%
	max-height 0
	background-color white
	position absolute
	left 0
	top 0
	overflow hidden
	transition all 0.2s ease-out
	&.active
		max-height 80px
	li
		width 100%
		height 40px
		line-height 40px
		color black-text
		padding 0 10px
		font-family font-1
		font-size 14px
		border-bottom 1px solid rgba(black-text, 0.3)
		cursor pointer
		&:nth-last-child(1)
			border-bottom 0
.select-container
	border-bottom 1px solid rgba(255,255,255,0.35)
	//padding-left 45px
@media screen and (max-width 924px)
	.footer-bottom-left
		padding-left 20px
@media screen and (max-width 860px)
	.footer-bottom-left
		justify-content center
	.footer-item
		width 50%
		margin 0
		padding 13px 15px
		justify-content center
		&:nth-of-type(1)
			padding-left 0
			padding-right 0
		&:nth-of-type(2)
			margin 0
		&:nth-of-type(3)
			width 100%
			padding-top 5px
	.logo-footer
		margin-top -80px
@media screen and (max-width 768px)
	.formError .formErrorContent
		&:before
			top -5px
	.footer-top
		padding 50px 0 85px
		.g-title
			margin-bottom 60px
			h5
				font-size 30px
				br
					display none
	/*.row-input-content
		top 2px
		&.active
			top -20px
		label
			font-size 20px
			margin-left 3px*/
	.row-input-content
		top 10px
		label
			font-size 19px
	.input-container
		margin-bottom 45px
	.form-input, .form-select
		font-size 19px
		height 40px
	.footer-form
		.g-btn
			margin-top 0px
	.footer-bottom-left
		width 100%
		padding 0
	.logo-footer
		position relative
		left 50%
		transform translateX(-50%)
		margin-top -40px
	/*.form-select
		top -10px
	.textarea-container
		.row-input-content
			&.active
				top -25px*/
@media screen and (max-width 600px)
	.input-container
		width calc(50% - 10px)
		margin-bottom 50px
		&:nth-child(even)
			margin-left 20px
	.textarea-container
		width 100%
	.footer-item
		flex-direction column
		h6
			text-align center
		i
			margin 0 0 10px
	.footer-row-tel
		using-flex(row, center, center)
	.input-container
		width 100%
		&:nth-child(even)
			margin-left 0
	.row-input-content
		top 7px
		&.active
			label
				transform translateY(-150%)
		&.active1
			label
				transform translateY(-150%)
		label
			font-size 15px
			margin-left 10px
			padding-top 4px
		img
			width 28px
			height auto
	.footer-top
		padding 47px 0 85px
		.g-title
			margin-bottom 48px
			h5
				line-height 1.2
				font-size 28px
				br
					display block
	.textarea-container
		//margin-bottom 41px
		textarea
			height 110px
	.logo-footer
		width 103px
		height 103px
		margin-top -41px
		margin-bottom 10px
	.footer-bottom-left
		align-items flex-start
	.footer-item
		i
			font-size 35px
	.form-input
		padding-left 40px
	.form-select
		padding-left 37px
		font-size 16px
@media screen and (max-width 375px)
	.footer-item
		width 86%
		padding 13px 0
		margin-bottom 4px
		&:nth-of-type(2)
			margin-bottom 4px
		&:nth-of-type(3)
			width 86%
			padding-top 13px
			margin-bottom 20px
		h6
			font-size 16px
		i
			margin-bottom 7px
	.footer-bottom
		.wancho
			width 100%
	.footer-copyright
		padding 17px 10px
		h5
			font-size 11px
