@import 'mixin.styl'

header
	width 100%
	//padding 35px 80px 35px 112px
	padding 35px 0
	position absolute
	left 0
	top 0
	z-index 2
	.wancho 
		using-flex(row, space-between, center)
.link-logo-mobile
	display none
.link-logo
	width 18%
	img 
		img-responsive()
.list-items
	using-flex(row, space-around, center)
	list-style none
	width 80%
	max-width 720px
	height 52px
	position relative
	li 
		height 100%
.item-link
	using-flex(row, center, center)
	text-decoration none
	width 120px
	height 100%
	text-align center
	font-family 'Roboto-Medium'
	font-size 17px
	color white
	position relative
.movable-bar
	width 100px
	height 0
	border-bottom 1px solid white
	position absolute
	left 15px
	bottom 0
	transition all 0.5s ease
.open-menu-mobile
	display none
@media screen and (max-width 980px)
	.link-logo
		width 40%
		max-width 200px
	.list-items
		display none
	.open-menu-mobile
		display block
		font-size 40px
		color white
@media screen and (max-width 480px)
	header
		padding 30px 0
	.link-logo
		display none
	.link-logo-mobile
		display block