@import 'mixin.styl'

.button-work-mobile
	display none
.we-love
	using-flex(column, center, center)
	height 100vh
	background-image url(../img/home/we-love.jpg)
	using-background()
	position relative
	z-index 1
	&:before
		content ''
		width 100%
		height 100%
		background linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%,
											rgba(0, 0, 0, 0.95) 20%,
											rgba(0, 0, 0, 0.9) 40%,
											rgba(0, 0, 0, 0.4) 100%)
		position absolute
		left 0
		top 0
.we-love-content
	width 90%
	max-width 700px
	text-align center
	color white
	position relative
	z-index 2
	margin 0 auto
	h1 
		font-family font-3
		font-size 60px
		line-height 60px
		margin-bottom 28px
		letter-spacing -3px
	h2 
		font-family font-1
		font-size 25px
		line-height 1.25
		letter-spacing -1px
		span 
			font-family font-3
			margin-left 10px
.row-buttons
	margin-top 40px
.scroll-down
	using-flex(row, center, center)
	flex-flow row nowrap
	position absolute
	left 50%
	bottom 63px
	-webkit-transform translateX(-50%)
	transform translateX(-50%)
	z-index 2
	color white
	h6 
		font-family font-2
		font-size 14px
		margin-left 15px
.client
	padding 114px 0 60px
	.wancho 
		text-align center
	.g-btn
		margin-top 61px
		@media screen and (min-width 1024px)
			transform translateY(100px) scaleX(0)
			opacity 0
			&.active
				transform translateY(0) scaleX(1)
				opacity 1
	.owl-dots
		using-flex(row, center, center)
		margin-top 35px
	.owl-dot
		width 12px
		height 12px
		background-color #727272
		border-radius 50%
		cursor pointer
		margin 0 13px
		&.active, &:hover
			width 15px
			height 15px
			background-color white
			border 2px solid #727272
.client-description
	width 100%
	max-width 520px
	margin 9px auto 0
	p 
		font-family font-2
		font-size 17px
		text-align center
		line-height 1.5
		//color #a0a0a0
		color #000
.row-clients
	/*using-flex(row, space-around, center)*/
	margin-top 50px
	img 
		img-responsive()
		margin 0 auto
.we-develop
	background-image url(../img/home/we-develop.jpg)
	using-background()
	position relative
	overflow hidden
	padding 162px 0 14px
	&:before
		content ''
		width 100%
		height 100%
		background radial-gradient(circle, rgba(green-doapps-dark, 0.8) 0%,
											rgba(green-doapps-dark, 0.85) 25%,
											rgba(green-doapps-dark, 0.9) 50%,
											rgb(green-doapps-dark) 100%)
		position absolute
		left 0
		top 0
	.wancho 
		using-flex(row, center, center)
		position relative
		z-index 2
		.g-title
			width 100%
			max-width 600px
			color white
			margin auto
			line-height 1.2
			margin-bottom 32px
			span 
				display block
.we-develop-left
	width calc(100% - 381px)
	padding-right 25px 
.we-develop-right
	width 381px
	height 646px
	position relative
	/*@media screen and (min-width 1024px)
		transition all 0.7s
		transform translateY(100%)
		&.active
			transform translateY(0)*/
	img 
		display block
		max-width 100%
		height auto
		position absolute
		left 0
		bottom -40px
		&:nth-of-type(2)
			width 336px
			left 50%
			bottom -80px
			-webkit-transform translateX(-50%)
			transform translateX(-50%)
.we-develop-top
	li 
		using-flex(row, flex-start, center)
		margin-bottom 38px 
		&:nth-last-child(1)
			margin-bottom 0
		h6 
			width calc(100% - 27px)
			font-size 22px
			font-family font-1
			color white
			padding-left 23px
			line-height 1.2
			span 
				font-family font-6
				margin 0 10px
.we-develop-bottom
	width 100%
	using-flex(row, space-around, flex-end)
	margin-top 75px
.item-we-develop
	width 33.333%
	padding 0 35px
	border-right 2px dashed rgba(white, 0.4)
	text-align center
	color white
	&:nth-last-child(1)
		border-right 0
	h6 
		font-family font-6
		font-size 60px
	h5 
		width 100%
		max-width 150px
		line-height 1.2
		font-family font-2
		font-size 15px
		text-transform uppercase
		margin 0 auto
.row-timer
	using-flex(row, center, center)
	flex-flow row nowrap
	h4
		font-family font-6
		font-size 60px
.works
	padding-top 62px 
	.g-title 
		max-width 500px
		margin 0 auto 62px
.works-container
	using-flex(row, space-between, flex-start)
.work-card-description
	using-flex(column, center, center)
	width 100%
	height 100%
	background-color rgba(0, 0, 0, 0.77)
	padding 0 63px
	position absolute
	left 0
	top 0
	transition all 1s ease-out
	opacity 0
	h5, h6
		color white
		text-transform uppercase
		text-align center
		line-height 1
		transition all 1s ease-out
	h5, h6, a
		opacity 0
	h5 
		font-family font-6
		font-size 32px
	h6
		font-family font-2
		font-size 16px
		margin 5px 0 15px
.work-card 
	using-flex(row, center, center)
	width calc(33.333% - 0.666px)
	height 464px
	using-background()
	margin-bottom 1px
	position relative
	overflow hidden
	&:nth-of-type(2), &:nth-of-type(5)
		margin 0 1px 1px
	&:nth-of-type(6), &:nth-of-type(5), &:nth-of-type(4)
		margin-bottom 0px
	@media screen and (min-width 1025px)
		&:hover	
			.work-card-description
				opacity 1
				h5, h6, a
					opacity 1
			.work-background
				-webkit-transform scale(1.05)
				transform scale(1.05)
	.img-cel
		img-responsive()
		position absolute
		left 50%
		top 50%
		-webkit-transform translateX(-50%) translateY(-50%)
		transform translateX(-50%) translateY(-50%)
	&:nth-of-type(1)
		.work-background
			background-image url(../img/home/work1.jpg)
	&:nth-of-type(2)
		.work-background
			background-image url(../img/home/work2.jpg)
	&:nth-of-type(3)
		.work-background
			background-image url(../img/home/work3.jpg)
	&:nth-of-type(4)
		.work-background
			background-image url(../img/home/work4.jpg)
	&:nth-of-type(5)
		.work-background
			background-image url(../img/home/work5.jpg)
	&:nth-of-type(6)
		.work-background
			background-image url(../img/home/work6.jpg)
.work-background
	width 100%
	height 100%
	using-background()
	position absolute
	left 0
	top 0
	transition all 2s ease-out

@media screen and (max-height 610px)
	.we-love
		height 610px
@media screen and (max-width 960px)
	.we-love-content
		h1 
			font-size 50px
	.client 
		padding 60px 0
	/*.row-clients
		img 
			width 70%*/
	.we-develop-right
		display none
	.we-develop-left
		width 100%
		padding-right 0
	.we-develop
		padding 60px 0
		.wancho
			.g-title
				margin-bottom 45px
	.works
		padding-top 60px 
		.g-title
			margin-bottom 60px
@media screen and (max-width 768px)
	.we-love-content
		h1 
			font-size 40px
		h2 
			font-size 23px
	.row-buttons
		margin-top 45px
	.client
		padding 30px 0
		.g-btn 
			margin-top 40px
		.owl-dots
			margin-top 25px
	.we-develop
		padding 30px 0
	.we-develop-top
		li 
			margin-bottom 30px
			h6 
				font-size 20px
	.item-we-develop
		padding 0 15px
		h6, h4
			font-size 40px
	.we-develop-bottom
		margin-top 30px
	.works 
		padding-top 45px
		.g-title
			margin-bottom 45px
@media screen and (max-width 767px)
	.work-card
		width calc(50% - 0.5px)
		margin 0
		margin-bottom 1px
		&:nth-child(even)
			margin-left 1px
		&:nth-of-type(2), &:nth-of-type(5)
			margin 0
		&:nth-of-type(5), &:nth-of-type(6)
			margin-bottom 0
@media screen and (max-width 540px)
	.we-love-content
		width 100%
	.we-develop-top
		li 
			img 
				width 20px
				height auto
			h6 
				font-size 18px
				padding-left 13px
	.item-we-develop
		width 50%
		&:nth-of-type(2)
			border-right 0
		&:nth-last-child(1)
			margin-top 20px
@media screen and (max-width 480px)
	.we-love 
		height 480px
	.we-love-content
		h1 
			font-size 28px
			line-height 1.2
		h2 
			font-size 16px
			margin-top 8px
			line-height 1.35
	.row-buttons
		margin-top 32px
	.scroll-down
		display none
	.we-love-content
		margin-top 20px
	.client-description
		display none
	.row-clients
		margin-top 20px
	.we-develop-bottom
		display none
	.we-develop-top
		img 
			width 17px 
			height 17px
		li 
			margin-bottom 23px
			h6 
				font-size 16px
				span 
					font-family font-1
	.we-develop 
		.wancho
			.g-title
				margin-bottom 30px
	.work-card-description
		position relative
		padding 0 20px
	.work-card-description
		height auto
		position relative
		opacity 1
		background-color white
		h5, h6, a 
			opacity 1
		h5, h6
			color black-text
		h5 
			font-size 18px
			//margin-top 15px
			margin-bottom 4px
		h6 
			font-size 14px
			margin-bottom 0
		.g-btn 
			overflow visible
			margin-top 15px
			&.btn-green
				background-color transparent
				color green-doapps
			&:before 
				display none
			&:after
				content '\e91d'
				color green-doapps
				font-family 'icomoon'
				background-color transparent
				transform rotateY(180deg) translateY(-100%)
				font-size 15px
				right 15px
				top 45%
	.work-card
		width 100%
		//height 484px
		height auto
		overflow visible
		display none
		margin-bottom 0
		&:nth-child(even)
			margin-left 0
		.img-cel 
			width 130px
			max-width 130px
			top -27px
			transform translate(-50%, -100%)
		&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
			display block
	.work-content
		position relative
		width 100%
		//height 160px
		height auto
		left 0
		top 0
		padding 30px 0
	.work-background
		height 324px
		position relative
	.button-work-mobile
		display block
		margin-bottom 30px
	.works-container
		justify-content center
	.works 
		padding-top 30px 
		.g-title
			margin-bottom 30px
	
	