using-flex(direction, justify-content, align-items)
	display flex 
	flex-flow direction wrap
	justify-content justify-content
	align-items align-items
using-background()
	background-size cover
	backgrund-position center
	background-repeat no-repeat
	
@font-face 
	font-family 'Roboto-Thin'
	src url(../fonts/Roboto-Thin.ttf)
@font-face 
	font-family 'Roboto-Light'
	src url(../fonts/Roboto-Light.ttf)
@font-face 
	font-family 'Roboto-Regular'
	src url(../fonts/Roboto-Regular.ttf)
@font-face 
	font-family 'Roboto-Medium'
	src url(../fonts/Roboto-Medium.ttf)
@font-face 
	font-family 'Roboto-Bold'
	src url(../fonts/Roboto-Bold.ttf)
@font-face 
	font-family 'Roboto-Italic'
	src url(../fonts/Roboto-Italic.ttf)
@font-face 
	font-family 'Roboto-Black'
	src url(../fonts/Roboto-Black.ttf)
	
green-doapps = #26ad91
green-doapps-dark = #239e84

h1, h2, h3, h4, h5, h6 
	font-weight normal
a 
	text-decoration none
	display inline-block
ul 
	list-style none
.wancho 
	width 95%
	max-width 1100px
	margin auto
.g-btn
	width 190px
	height 60px
	text-align center
	border-radius 7px
	font-family 'Roboto-Black'
	font-size 16px
	text-transform uppercase
	position relative
	overflow hidden
	&:before, &:after
		content ""
		width 20px
		height 20px
		background-color white
		border-radius 50%
		position absolute
		top 50%
	&:before
		left -20px
		transform translate(-50%, -50%)
	&:after
		right -20px
		transform translate(50%, -50%)
	&:hover
		color green-doapps
		z-index 2
		&:before
			animation show-before 1s both
		&:after
			animation show-after 1s both
@keyframes show-before
	0%
		left -20px
	50%
		width 20px
		height 20px
		left 50%
	100%
		width 350px
		height 350px
		left 50%
		z-index -1
@keyframes show-after
	0%
		right -20px
	50%
		width 20px
		height 20px
		right 50%
	100%
		width 350px
		height 350px
		right 50%
		z-index -1
.btn-green
	line-height 60px
	background-color green-doapps
	color white
.btn-transparent
	line-height 56px
	background-color transparent 
	border 2px solid green-doapps
	color green-doapps
.g-title
	text-align center
	color #070707
	h5
		font-size 50px
		font-family 'Roboto-Thin'
		span
			font-family 'Roboto-Bold'
			margin-left 10px