*
	margin 0
	padding 0
	box-sizing border-box
body 
	-webkit-font-smoothing antialiased

using-flex(direction, justify-content, align-items)
	display flex 
	flex-flow direction wrap
	justify-content justify-content
	align-items align-items
using-background()
	background-size cover
	background-position center
	background-repeat no-repeat
img-responsive()
	max-width 100%
	height auto
	display block
item-header-active()
	content ''
	width 100px
	height 0px
	border-bottom 1px solid white
	position absolute
	left 50%
	bottom 0
	-webkit-transform translateX(-50%)
	transform translateX(-50%)
	
@font-face 
	font-family 'Roboto-Thin'
	src url(../fonts/Roboto-Thin.ttf)
@font-face 
	font-family 'Roboto-Light'
	src url(../fonts/Roboto-Light.ttf)
@font-face 
	font-family 'Roboto-Regular'
	src url(../fonts/Roboto-Regular.ttf)
@font-face 
	font-family 'Roboto-Medium'
	src url(../fonts/Roboto-Medium.ttf)
@font-face 
	font-family 'Roboto-Bold'
	src url(../fonts/Roboto-Bold.ttf)
@font-face 
	font-family 'Roboto-Italic'
	src url(../fonts/Roboto-Italic.ttf)
@font-face 
	font-family 'Roboto-Black'
	src url(../fonts/Roboto-Black.ttf)
	
green-doapps = #26ad91
green-doapps-dark = #239e84
black-text = #070707
lead-text = #212121

body
	overflow-x hidden

h1, h2, h3, h4, h5, h6, strong, p 
	font-weight normal
	line-height 1
a 
	text-decoration none
	display inline-block
ul 
	list-style none
input, select, textarea, button
	appearance none
	outline 0
	border 0
	box-shadow none
.wancho 
	width 94%
	max-width 1100px
	margin auto
.g-btn
	width 190px
	height 60px
	text-align center
	border-radius 7px
	font-family 'Roboto-Black'
	font-size 16px
	text-transform uppercase
	position relative
	overflow hidden
	&:before, &:after
		content ""
		width 20px
		height 20px
		background-color white
		border-radius 50%
		position absolute
		top 50%
	&:before
		left -20px
		transform translate(-50%, -50%)
	&:after
		right -20px
		transform translate(50%, -50%)
	@media screen and (min-width 1025px)
		&:hover
			z-index 2
			&:before
				animation show-before 0.7s both
			&:after
				animation show-after 0.7s both
@keyframes show-before
	0%
		left -20px
	50%
		width 20px
		height 20px
		left 50%
	100%
		width 350px
		height 350px
		left 50%
		z-index -1
@keyframes show-after
	0%
		right -20px
	50%
		width 20px
		height 20px
		right 50%
	100%
		width 350px
		height 350px
		right 50%
		z-index -1
.btn-green
	line-height 60px
	background-color green-doapps
	color white
	&:before, &:after 
		background-color #3cc8ab
.btn-transparent
	line-height 56px
	background-color transparent 
	border 2px solid green-doapps
	color green-doapps
	&:before, &:after 
		background-color rgba(0, 0, 0, 0.4)
.g-title
	text-align center
	color #070707
	line-height 1.2
	h5
		font-size 50px
		font-family 'Roboto-Thin'
		span
			font-family 'Roboto-Bold'
			margin-left 10px
.title-special
	width auto
	padding-left 27px
	position relative
	&:before
		content ''
		width 5px 
		height 90%
		background-color green-doapps
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
	.g-title
		text-align left
		line-height 1
	h6 
		color #656565
		font-family 'Roboto-Light'
		font-size 22px
		margin-top 1px

@media screen and (max-width 960px)
	.g-title
		h5 
			font-size 40px !important
@media screen and (max-width 768px)
	.g-title h5
		font-size 28px !important
@media screen and (max-width 480px)
	.g-title
		h5
			span
				margin-top 2px
				font-family 'Roboto-Black'
	.wancho 
		width 87%
	.g-btn 
			width 180px !important
			padding 0px !important
			height 44px  !important
			font-size 14px !important
			&.btn-transparent
				line-height 40px !important
			&.btn-green
				line-height 44px !important