@import 'mixin.styl'

.body-products
	.list-items
		li 
			&:nth-of-type(3)
				a 
					&:after
						item-header-active()
.products-title
	text-align center
	padding 120px 0 0
	.g-title
		span
			display block
.product-item
	padding 120px 0
	display flex
	flex-direction column
	&:nth-child(odd)
		background-color #fcfcfc
		.cnt-products
			flex-direction row-reverse
		.prod-left
			padding-left 70px
			padding-right 0
.cnt-products
	max-width 1000px
	margin auto
	justify-content space-between
	align-items center
	display flex
	.prod-left
		padding-right 70px
		.g-title
			text-align left
			margin-bottom 40px
			span
				margin 0
	.prod-right
		max-width 365px
		width: 100%
		img
			img-responsive()
.product-item-paragraph
	margin-bottom 30px
	p
		font-size 22px
		font-family font-2
		line-height 1.5
	strong
		font-family font-3

@media screen and (max-width 960px)
	.product-item,
	.products-title
		padding: 60px 0px
	.product-item-paragraph p
		font-size: 16px
	.prod-left
		width: 100%
	.product-item:nth-child(odd) .prod-left
		padding-left: 5%
	.cnt-products .prod-left
		padding-right: 5%
	.cnt-products .prod-left .g-title span
		font-size: 28px
@media screen and (max-width 768px)
	.product-item,
	.products-title
		padding: 30px 0px
@media screen and (max-width 560px)
	.product-item:nth-child(odd) .cnt-products,
	.cnt-products
		flex-direction: column-reverse
	.product-item:nth-child(odd) .prod-left
		padding-left: 0px
	.cnt-products .prod-left .g-title
		text-align: center
		span
			line-height: 35px
	.cnt-products .prod-right img
		margin: auto
	.prod-right figure
		padding-bottom: 40px
	.product-item-paragraph p
		line-height: 35px
		text-align: left
	.product-item:nth-child(odd) .prod-left
		text-align: center
	.product-item
		padding: 30px 0px
		padding-bottom: 40px
	.cnt-products
		text-align: center
	.cnt-products .prod-left
		padding-right: 0px
@media screen and (max-width 480px)
	.cnt-products .prod-right
		width 65%
		max-width: 100%