@import 'mixin.styl'

.body-service 
	.list-items
		li 
			&:nth-of-type(1)
				a 
					&:after
						item-header-active()
.service
	&.g-banner
		background-image url(../img/service/service-background.jpg)	
	.g-banner-content
		width 90%
		max-width 620px
		margin 0 auto
		top 15px
		h5 
			margin-bottom 5px
		h6 
			width 78%
			margin 0 auto
			line-height 1.2
.client
	padding 114px 0 60px
	.wancho 
		text-align center
	.g-btn
		margin-top 61px
		@media screen and (min-width 1024px)
			transition all 0.7s
			transform translateY(100px) scaleX(0)
			opacity 0
			&.active
				transform translateY(0) scaleX(1)
				opacity 1
.client-description
	width 100%
	max-width 520px
	margin 9px auto 0
	p 
		font-family font-1
		font-size 17px
		text-align center
		line-height 1.5
		color #a0a0a0
.row-clients
	using-flex(row, space-around, center)
	margin-top 50px
	img 
		max-width 100%
		height auto
		display block
.owl-dots
	using-flex(row, center, center)
	margin-top 35px
.owl-dot
	width 12px
	height 12px
	background-color #727272
	border-radius 50%
	cursor pointer
	margin 0 13px
	&.active, &:hover
		width 15px
		height 15px
		background-color white
		border 2px solid #727272
.service-client
	padding 123px 0 127px
	.client-description
		margin-top 14px
.service-list 
	background-color rgba(242, 242, 242, 0.6)
	padding 120px 0 100px
	.g-title
		h5 
			margin-bottom 11px
		h6 
			font-family font-1
			font-size 25px
			width 100%
			max-width 400px
			margin 0 auto
			line-height 1.2
.service-row-service
	using-flex(row, space-between, center)
	margin-top 78px
.service-item
	using-flex(row, center, center)
	width calc(33.33% - 12px)
	max-width 380px
	height 242px
	border 1px solid #d4d4d4
	margin-bottom 42px
	&:nth-of-type(1)
		.service-image	
			background-image url(../img/service/service1.jpg)
	&:nth-of-type(2)
		.service-image	
			background-image url(../img/service/service2.jpg)
	&:nth-of-type(3)
		.service-image	
			background-image url(../img/service/service3.jpg)
	&:nth-of-type(4)
		.service-image	
			background-image url(../img/service/service4.jpg)
	&:nth-of-type(5)
		.service-image	
			background-image url(../img/service/service5.jpg)
	&:nth-of-type(6)
		.service-image	
			background-image url(../img/service/service6.jpg)
.service-image, .service-content-item
	width 50%
	height 100%
.service-image
	using-background()
.service-content-item
	using-flex(column, center, center)
	text-align center
	background-color white
	padding 15px 20px
	figure
		img 
			img-responsive()
	h2, h5 
		color black-text
	h2
		font-family font-6
		font-size 21px
		margin-top 12px
	h5 
		font-family font-1
		font-size 16px
		margin-top 6px
		line-height 1.15
.service-process
	background-color rgba(242, 242, 242, 0.6)
	padding 130px 0 122px
	.title-special
		margin-bottom 86px
		padding-left 46px
		.g-title
			h5 
				font-size 48px
				span 
					margin 0 13px
		h6 
			margin-top 7px
		&:before 
			height 115%
			background-color #000
.service-process-bg
	img-responsive()
	margin 0 auto
	
@media screen and (max-width 1200px)
	.service-image
		width 45%
	.service-content-item
		width 55%
		padding 10px
		h2, h5 
			width 100%
			max-width 130px
			margin-left auto
			margin-right auto
		h2 
			font-size 20px
		h5 
			font-size 14px
	.service-item
		height 200px 
@media screen and (max-width 980px)
	.body-service 
		.list-items
			li 
				&:nth-of-type(1)
					a 
						background-color white
						color #000
@media screen and (max-width 850px)
	.service-item
		height 170px 
		margin-bottom 20px
	.service-content-item
		h2 
			margin-top 6px
			font-size 18px
		h5 
			margin-top 3px
@media screen and (max-width 768px)
	.service-list 
		padding 45px 0 25px
		.g-title
			h5 
				margin-bottom 10px
			h6 
				font-size 17px
	.service-row-service
		margin-top 40px
	.service-item
		margin-bottom 20px
	.service-client
		padding 45px 0
		.client-description
			margin-top 5px
	.row-clients
		margin-top 25px
	.service-process
		padding 45px 0
		.title-special
			padding-left 20px
			margin-bottom 35px
	.title-special
		h6 
			font-size 18px
			margin-top 3px
@media screen and (max-width 750px)
	.service-item
		width calc(50% - 10px)
@media screen and (max-width 570px)
	.service-item
		width 100%
		max-width 400px
		height 250px
		margin-left auto
		margin-right auto
	.service-content-item
		h2 
			font-size 22px
	.service-image, .service-content-item
		width 50%
@media screen and (max-width 480px)
	.service 
		.g-banner-content
			h6 
				line-height 1.6
	.service-list 
		padding 30px 0 10px
		.g-title
			h5 
				margin-bottom 10px
			h6 
				font-size 16px
	.service-client
		padding 30px 0
		.client-description
			display none
	.service-process
		.title-special
			&:before
				display none
			.g-title
				text-align center
				h5
					text-align center
			h6 
				text-align center 
	.title-special
		h6 
			font-size 16px
	.service-process
		padding 30px 0
	.service-content-item
		h2 
			font-size 17.5px
@media screen and (max-width 375px)
	.service-item
		height 178px
	.service-content-item
		padding 10px
		