@import 'mixin.styl'

.service-detail
	&.g-banner
		background-image url(../img/service-detail/service-detail-background.jpg)
.detail-client-p
	p 
		strong 
			color #353535
			font-family font-3
			font-size 22px
.detail-characteristics-cnt
	strong 
		margin 0 7px
.service-detail
	padding-top 134px
	background-color #fcfcfc
	&.products-detail
		padding-bottom 100px
		.g-title
			margin-bottom 30px
	.detail-client-p
		margin-bottom 80px
	.detail-characteristics-cnt
		padding-bottom 0
		li 
			margin-bottom 42px
.service-detail-works
	padding 125px 0 86px
	.wancho
		max-width 1172px
	.product-item
		background-color white
		&:nth-child(odd)
			background-color white
	.g-title
		width 100%
		max-width 450px
		margin 0 auto 75px
		h5 
			span 
				margin 0
				display block
.service-detail-background
	background-image url(../img/service-detail/service-detail-item-backgrund.jpg)
	using-background()
	width 100%
	height 100%
	position absolute
	left 0
	top 0
.service-detail-item
	using-flex(row, space-between, center)
	height 466px
	border 1px solid #c7c7c7
	margin-bottom 83px 
	&:nth-last-child(1)
		margin-bottom 0
.service-detail-left
	width 466px
	height 100%
	position relative
	figure 
		position absolute
		left 50%
		top 50%
		-webkit-transform translate(-50%, -50%)
		transform translate(-50%, -50%)
		img 
			img-responsive()
.service-detail-right
	using-flex(column, center, flex-start)
	width calc(100% - 466px)
	height 100%
	padding 20px 67px 20px 76px
	h5 
		font-family font-3
		font-size 30px
		margin-bottom 32px
	p 
		font-size 22px
		font-family font-1
		margin-bottom 26px
		line-height 1.85
		strong 
			font-family font-3
			margin 0 7px
			
@media screen and (max-width 960px)
	.service-detail
		padding-top 60px 
		&.products-detail
			padding-bottom 20px
	.service-detail-works
		padding 60px 0
	.service-detail-left
		width 45%
	.service-detail-right
		width 55%
		padding 20px 40px
@media screen and (max-width 768px)
	.detail-client-p
		p 
			font-size 20px
	.service-detail
		.detail-client-p
			margin-bottom 50px
	.service-detail-works
		padding 45px 0
		.g-title
			margin 0 auto 40px
	.service-detail-left
		width 300px
	.service-detail-right
		width calc(100% - 300px)