@import 'mixin.styl'

.service-detail
	&.g-banner
		background-image url(../img/service-detail/service-detail-background.jpg)
.detail-client-p
	p 
		strong 
			color #353535
			font-family 'Roboto-Bold'
			font-size 22px
.detail-characteristics-cnt
	strong 
		margin 0 7px
.service-detail
	padding-top 134px
	background-color #fcfcfc
	&.products-detail
		padding-bottom 100px
		.g-title
			margin-bottom 30px
	.detail-client-p
		margin-bottom 80px
	.detail-characteristics-cnt
		padding-bottom 0
		li 
			margin-bottom 42px
.service-detail-works
	padding 134px 0 86px
	.product-item
		background-color white
		&:nth-child(odd)
			background-color white
	.g-title
		width 100%
		max-width 450px
		margin 0 auto
		h5 
			span 
				margin 0
				display block
		