doctype html
html(lang='es')
	head
		meta(charset='utf-8') 
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
		title Blog
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/banner.css')
		link(rel='stylesheet', type='text/css', href='./client/css/blog.css')
	body.body-blog
		include ./blocks/header.pug
		section.blog.g-banner
			.wancho 
				.g-banner-content
					h5 Creamos historias
					h6 
						| Relacionadas con la tecnología en general
						strong en el mundo entero.
		section.blog-content
			.wancho
				.blog-content-title
					h6 Publicaciones más recientes
				a(href='detail-blog.html').blog-new-big
					.new-big-photo(style='background-image: url(./client/img/blog/blog-new-big.jpg)')
						//img(src='./client/img/blog/blog-new-big.jpg' width='772' height='397')
						.category
							h6 programación
					.blog-new-description
						h2 ¿Cómo generar apps móviles desde cero?
						p Aplicaciones Android, iOs, desarrollo móvil y mucho más, sin tener muchos conocimientos previos.
						.row-author
							figure
								img(src='./client/img/blog/blog-photo-author.png' width='36' height='36')
							.author-name
								h5 Ángel Espinoza
								h6 Mar 14
				.blog-content-down
					.blog-list-new-small
						a(href='detail-blog.html').new-small
							.new-small-photo(style='background-image: url(./client/img/blog/blog-new-small.jpg)')
								//img(src='./client/img/blog/blog-new-small.jpg' width='368' height='256')
								.category
									h6 programación
							.blog-new-description
								h2 ¿Cómo generar apps móviles desde cero?
								p Aplicaciones Android, iOs, desarrollo móvil y mucho más, sin tener muchos conocimientos previos.
								.row-author
									figure
										img(src='./client/img/blog/blog-photo-author.png')
									.author-name
										h5 Ángel Espinoza
										h6 Mar 14
						a(href='detail-blog.html').new-small
							.new-small-photo(style='background-image: url(./client/img/blog/blog-new-small.jpg)')
								//img(src='./client/img/blog/blog-new-small.jpg' width='368' height='256')
								.category
									h6 programación
							.blog-new-description
								h2 ¿Cómo generar apps móviles desde cero?
								p Aplicaciones Android, iOs, desarrollo móvil y mucho más, sin tener muchos conocimientos previos.
								.row-author
									figure
										img(src='./client/img/blog/blog-photo-author.png')
									.author-name
										h5 Ángel Espinoza
										h6 Mar 14
						a(href='detail-blog.html').new-small
							.new-small-photo(style='background-image: url(./client/img/blog/blog-new-small.jpg)')
								//img(src='./client/img/blog/blog-new-small.jpg' width='368' height='256')
								.category
									h6 programación
							.blog-new-description
								h2 ¿Cómo generar apps móviles desde cero?
								p Aplicaciones Android, iOs, desarrollo móvil y mucho más, sin tener muchos conocimientos previos.
								.row-author
									figure
										img(src='./client/img/blog/blog-photo-author.png')
									.author-name
										h5 Ángel Espinoza
										h6 Mar 14
						a(href='detail-blog.html').new-small
							.new-small-photo(style='background-image: url(./client/img/blog/blog-new-small.jpg)')
								//img(src='./client/img/blog/blog-new-small.jpg' width='368' height='256')
								.category
									h6 programación
							.blog-new-description
								h2 ¿Cómo generar apps móviles desde cero?
								p Aplicaciones Android, iOs, desarrollo móvil y mucho más, sin tener muchos conocimientos previos.
								.row-author
									figure
										img(src='./client/img/blog/blog-photo-author.png')
									.author-name
										h5 Ángel Espinoza
										h6 Mar 14
						.blog-pagination
							a(href='#').number-pag.active 1
							a(href='#').number-pag 2
							a(href='#').number-pag 3
							a(href='#').number-pag 4
							a(href='#').number-pag 5
					.btn-respon
						a(href='contac.html').g-btn.btn-green1 Cargar más notas
					.publicity
						.question
							figure.quesiton-icon
								img(src='./client/img/blog/icon-question.png')
							h5 Nuestra pregunta es
							h6 ¿Te parece útil que se realice un curso de Github para desarrolladores?
							.question-buttons
								a(href='#').g-btn.btn-transparent-green SI
								a(href='#').g-btn.btn-transparent-green NO
						figure.publicity-image
							img(src='./client/img/blog/publicity.jpg')
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/header.js')


