doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title Cursos
		link(rel='stylesheet', href='./client/js/validationform/validationEngine.jquery.css')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/banner.css')
		link(rel='stylesheet', type='text/css', href='./client/css/courses.css')
		link(rel='stylesheet', type='text/css', href='/client/css/sweetalert.min.css')
	body.body-courses
		include ./blocks/header.pug
		section.courses-banner
			.wancho
				.courses-date
					h4 Programación para iOs
					h5 Fecha de inicio
					h6 20 de marzo
				form.courses-form.footer-form
					h5 Inscríbete
					.input-container
						input(id='name', class='validate[required, custom[onlyLetterSp]]').form-input
						.row-input-content
							i.icon-contacto-icon-nombre
							label(for='name') ¿Cúal es tu nombre?
						span.lively-bar
					.input-container
						input(id='email', class='validate[required,custom[email]]').form-input
						.row-input-content
							i.icon-contacto-icon-correo
							label(for='email') ¿Cúal es tu correo?
						span.lively-bar
					.input-container
						input(id='tel', class='validate[required, custom[onlyNumberSp]]').form-input
						.row-input-content
							i.icon-contacto-icon-telefono
							label(for='tel') ¿Cúal es tu teléfono?
						span.lively-bar
					button.g-btn.btn-green1.button-form Comienza ahora
		section.courses-objectives
			.wancho
				.g-title
					h5
						| Los
						span Objetivos
				.courses-objectives-list
					.courses-objectives-item
						i.icon-check
						p Aprender las bases de la programación de aplicaciones nativas para iOS en Objective C utilizando como herramienta Xcode.
					.courses-objectives-item
						i.icon-check
						p Aprender las bases de la programación de aplicaciones nativas para iOS en Objective C utilizando como herramienta Xcode.
					.courses-objectives-item
						i.icon-check
						p Aprender las bases de la programación de aplicaciones nativas para iOS en Objective C utilizando como herramienta Xcode.
					.courses-objectives-item
						i.icon-check
						p Aprender las bases de la programación de aplicaciones nativas para iOS en Objective C utilizando como herramienta Xcode.
					.courses-objectives-item
						i.icon-check
						p Aprender las bases de la programación de aplicaciones nativas para iOS en Objective C utilizando como herramienta Xcode.
					.courses-objectives-item
						i.icon-check
						p Aprender las bases de la programación de aplicaciones nativas para iOS en Objective C utilizando como herramienta Xcode.
		section.courses-temary
			.wancho
				.g-title
					h5
						| El
						span Temario
				.courses-temary-row
					.courses-temary-item
						.courses-temary-item-top
							figure
								img(src='./client/img/courses/courses-temary-icon1.png' width='40' height='40')
							h5
								| MÓDULO 1
								span
									i.icon-chevron-thin-down
						.courses-temary-item-bottom
							ul
								li.courses-temary-item-li Acceso a funcionalidades
								li.courses-temary-item-li Enfoque para el desarrollo movil
								li.courses-temary-item-li Developer Experience
								li.courses-temary-item-li React Native por dentro
								li.courses-temary-item-li Estructura de tu proyecto
					.courses-temary-item
						.courses-temary-item-top
							figure
								img(src='./client/img/courses/courses-temary-icon2.png' width='40' height='40')
							h5
								| MÓDULO 2
								span
									i.icon-chevron-thin-down
						.courses-temary-item-bottom
							ul
								li.courses-temary-item-li Acceso a funcionalidades
								li.courses-temary-item-li Enfoque para el desarrollo movil
								li.courses-temary-item-li Developer Experience
								li.courses-temary-item-li React Native por dentro
								li.courses-temary-item-li Estructura de tu proyecto
					.courses-temary-item
						.courses-temary-item-top
							figure
								img(src='./client/img/courses/courses-temary-icon3.png' width='40' height='40')
							h5
								| MÓDULO 3
								span
									i.icon-chevron-thin-down
						.courses-temary-item-bottom
							ul
								li.courses-temary-item-li Acceso a funcionalidades
								li.courses-temary-item-li Enfoque para el desarrollo movil
								li.courses-temary-item-li Developer Experience
								li.courses-temary-item-li React Native por dentro
								li.courses-temary-item-li Estructura de tu proyecto
		section.courses-teacher
			.wancho
				.g-title
					h5
						| Los
						span Profesores
				.courses-teacher-row
					.courses-teacher-item
						figure
							img(src='./client/img/courses/courses-teacher.png' width='166' height='166')
						.courses-teacher-description
							h5 Jonathan Nolasco
							p
								|Co-founder in DoApps. Tech Entrepenur, Android & iOs developer -
								a(href='#') http://www.doapps.me/
					.courses-teacher-item
						figure
							img(src='./client/img/courses/courses-teacher.png' width='166' height='166')
						.courses-teacher-description
							h5 Jonathan Nolasco
							p
								|Co-founder in DoApps. Tech Entrepenur, Android & iOs developer -
								a(href='#') http://www.doapps.me/
		section.courses-feature
			.wancho
				.g-title
					h5
						| ¿Qué
						span Obtienes?
				.courses-feature-row
					.courses-feature-item
						i.icon-laptop
						h6 Videoclases 100% online
						p Contenidos 100% online. Disponible las 24 horas del dia
					.courses-feature-item
						i.icon-user-check
						h6 Asesoría requerida
						p Contenidos 100% online. Disponible las 24 horas del dia
					.courses-feature-item
						i.icon-files
						h6 Certificación del curso
						p Contenidos 100% online. Disponible las 24 horas del dia
		section.courses-cost
			.wancho
				.g-title
					h5
						| ¿Cuánto
						span Cuesta?
				.courses-cost-row
					.courses-cost-item
						.courses-cost-top
							h6 Básico
						.courses-cost-middle
							h4 79
							h6 Anual
						.courses-cost-bottom
							ul
								li.courses-cost-bottom-li
									i.icon-check
									h6 Grabaciones de clase
								li.courses-cost-bottom-li
									i.icon-check
									h6 Asesoría por mensaje
								li.courses-cost-bottom-li
									i.icon-check
									h6 70 videos disponibles
							a(href='#').g-btn.btn-green1 Pagar
					.courses-cost-item
						.courses-cost-top
							h6 Avanzado
						.courses-cost-middle
							h4 119
							h6 Anual
						.courses-cost-bottom
							ul
								li.courses-cost-bottom-li
									i.icon-check
									h6 Grabaciones de clase
								li.courses-cost-bottom-li
									i.icon-check
									h6 Asesoría por mensaje y telefono
								li.courses-cost-bottom-li
									i.icon-check
									h6 70 videos disponibles
							a(href='#').g-btn.btn-green1 Pagar
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/validationform/jquery.validationEngine.js')
		script(src='./client/js/validationform/jquery.validationEngine-es.js')
		script(src='./client/js/header.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/courses.js')
		script(src='./client/js/sweetalert.min.js')
