doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		title Detalle del proyecto
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		link(rel='stylesheet', href='./client/js/validationform/validationEngine.jquery.css')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/js/owl-carousel/owl.carousel.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/css/detail-project.css')
		link(rel='stylesheet', type='text/css', href='/client/css/sweetalert.min.css')
	body.body-detail-project
		include ./blocks/header.pug
		section.project-title
			.wancho
				.project-title-left
					h5 Comida Rápida
					h6 Aplicación Nativa Android para Pideloo
				figure.project-title-img
					img(src='./client/img/detail-project/project-title-cel.png' width='329' height='478')
		section.detail-client
			.wancho
				.row-detail-client-title
					h6 01
					.g-title
						h5
							| El
							span Cliente
				.detail-client-p
					p
						| En primer lugar, nos encontramos con tener que saber y tener
						strong a la mano los reportes
						| de
						strong tsunamis en el Perú.
						| Es muy importante que los anunciantes aprendan a planificarse. Algunas empresas suelen hacer acciones de
						strong marketing por separado,
						| pero se olvidan de que el marketing es algo global con tener que saber.
				figure.logo-project
					img(src='./client/img/detail-project/detail-logo-project.png' width='333' height='90')
		section.detail-proposal
			.wancho
				.row-detail-client-title
					h6 02
					.g-title
						h5
							| La
							span Propuesta
				.detail-client-p
					p
						| En primer lugar, nos encontramos con tener que saber y tener
						strong a la mano los reportes
						| de
						strong tsunamis en el Perú.
						| Es muy importante que los anunciantes aprendan a planificarse. Algunas empresas suelen hacer acciones de
						strong marketing por separado,
						| pero se olvidan de que el marketing es algo global con tener que saber.
		section.detail-design
			.row-detail-client-title
				h6 03
				.g-title
					h5
						| El
						span Diseño
			.detail-row-screen
				figure.screen
					img(src='./client/img/detail-project/detail-screen1.png' width='368' height='655')
				figure.screen
					img(src='./client/img/detail-project/detail-screen2.png' width='547' height='1065')
				figure.screen
					img(src='./client/img/detail-project/detail-screen3.png' width='368' height='655')
			.slider-carousel-container
					.row-carousel.owl-carousel
						img(src='./client/img/detail-project/detail-screen2.png')
						img(src='./client/img/detail-project/detail-screen1.png')
						img(src='./client/img/detail-project/detail-screen3.png')
		section.detail-wireframe
			.wancho
				.detail-wireframe-title
					.g-title
						h5
							| Los
							span Wireframes
					h6 UX (Experiencia de Usuario)
				.detail-wireframe-subtitle
					p Tienen un propósito simple y específico, que queriamos que los usuarios estuvieran realmente enfocados al usa la aplicación. La experiencia principal se construye alrededor de la pantalla del tablero de instrumentos para faciliar la reproducción y grabación de mensajes de audio.
				.detail-wireframe-row-screen
					figure
						img(src='./client/img/detail-wireframe/screen1.png' width='203' height='421')
					figure
						img(src='./client/img/detail-wireframe/screen1.png' width='203' height='421')
					figure
						img(src='./client/img/detail-wireframe/screen1.png' width='203' height='421')
					figure
						img(src='./client/img/detail-wireframe/screen1.png' width='203' height='421')
					figure
						img(src='./client/img/detail-wireframe/screen1.png' width='203' height='421')
					figure
						img(src='./client/img/detail-wireframe/screen1.png' width='203' height='421')
					figure
						img(src='./client/img/detail-wireframe/screen1.png' width='203' height='421')
					figure
						img(src='./client/img/detail-wireframe/screen1.png' width='203' height='421')
				.slider-carousel-container
					.row-carousel.owl-carousel
						img(src='./client/img/detail-wireframe/screen1.png')
						img(src='./client/img/detail-wireframe/screen1.png')
						img(src='./client/img/detail-wireframe/screen1.png')
		section.final-screen
			.wancho
				.detail-wireframe-title
					.g-title
						h5
							| Pantallas
							span Finales
					h6 UI (Interfaz de Usuario)
				.detail-wireframe-subtitle
					p Tienen un propósito simple y específico, que queriamos que los usuarios estuvieran realmente enfocados al usa la aplicación. La experiencia principal se construye alrededor de la pantalla del tablero de instrumentos para faciliar la reproducción y grabación de mensajes de audio.
				.f-s-colors-container
					.f-s-colors-left
						.f-s-color.color1
						.f-s-color.color2
						.f-s-color.color3
						.f-s-color.color4
						.f-s-color.color5
						.f-s-color.color6
					.f-s-typography
		section.set-screen
			.set-screen-background
		section.results
			.wancho
				.row-detail-client-title
					h6 04
					.g-title
						h5
							| Los
							span Resultados
				.detail-client-p
					p
						| En primer lugar, nos encontramos con tener que saber y tener
						strong a la mano los reportes
						| de
						strong tsunamis en el Perú.
						| Es muy importante que los anunciantes aprendan a planificarse. Algunas empresas suelen hacer acciones de
						strong marketing por separado,
						| pero se olvidan de que el marketing es algo global con tener que saber.
				.we-develop-bottom
					.item-we-develop
						img(src='./client/img/detail-project/results-icon1.png')
						.row-timer
							span +
							h6.timer1 30
							span %
						h5 incremento en ventas
					.item-we-develop
						img(src='./client/img/detail-project/results-icon2.png')
						.row-timer
							h6.timer2 50
							h4 k
						h5 Descargas en tiendas
					.item-we-develop
						img(src='./client/img/detail-project/results-icon3.png')
						h6.timer3 80
						h5 clientes satisfechos
				.results-button-apps
					a(href='#').link-app
						img(src='./client/img/detail-project/play-store.png' width='557' height='161')
					a(href='#').link-app
						img(src='./client/img/detail-project/app-store.png' width='557' height='161')
		section.detail-project-share
			.wancho
				.g-title
					h5
						| Si te gusto
						span compártelo
				.btn-share-container
					a(href='#').btn-share
						i.icon-social-facebook
						h6 Compartelo
					a(href='#').btn-share
						i.icon-social-twitter
						h6 Twittealo
					a(href='#').btn-share
						i.icon-social-linkedin
						h6 Compartelo
				.detail-project-share-number
					h5 20
					h6 compartidos
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/validationform/jquery.validationEngine.js')
		script(src='./client/js/validationform/jquery.validationEngine-es.js')
		script(src='./client/js/owl-carousel/owl.carousel.js')
		script(type='text/javascript', src='./client/js/jquery.waypoints.js')
		script(type='text/javascript', src='./client/js/contador.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')
		script(src='./client/js/detail-project.js')
		script(src='./client/js/sweetalert.min.js')
