doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		title Detalle del producto
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		link(rel='stylesheet', type='text/css', href='./client/js/owl-carousel/owl.carousel.css')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/detail-products.css')
		link(rel='stylesheet', type='text/css', href='./client/css/detail-project.css')
		link(rel='stylesheet', type='text/css', href='/client/css/sweetalert.min.css')
	body.detail-products.body-products
		include ./blocks/header.pug
		section.project-title
			.wancho
				.project-title-left
					h5 Comida Rápida
					h6
						| Aplicación Nativa Android para
						span Pideloo
				figure.project-title-img
					img(src='./client/img/detail-project/project-title-cel.png' width='329' height='478')
		section.detail-client.products-detail
			.wancho
				.g-title
					h5
						| La
						span Descripción
				.detail-client-p
					p
						| En primer lugar, nos encontramos con tener que saber y tener
						strong a la mano los reportes
						| de
						strong tsunamis en el Perú.
						| Es muy importante que los anunciantes aprendan a planificarse. Algunas empresas suelen hacer acciones de
						strong marketing por separado,
						| pero se olvidan de que el marketing es algo global con tener que saber.
		.wancho
			.detail-characteristics-cnt
				.g-title
					h5
						| Las
						span Características
				ul.characteristics
					li.characteristics-li
						i.icon-check
						h5 
							|En primer lugar
							strong tsunamis en el Peru
					li.characteristics-li 
						i.icon-check
						h5 
							|En primer lugar
							strong tsunamis en el Peru
					li.characteristics-li 
						i.icon-check
						h5 
							|En primer lugar
							strong tsunamis en el Peru
					li.characteristics-li 
						i.icon-check
						h5 
							|En primer lugar
							strong tsunamis en el Peru
					li.characteristics-li 
						i.icon-check
						h5 
							|En primer lugar
							strong tsunamis en el Peru
					li.characteristics-li 
						i.icon-check
						h5 
							|En primer lugar
							strong tsunamis en el Peru
		.detail-products-preview
			.wancho
				.g-title
					h5
						| Las
						span Previsualización
				.detail-products-wrap.preview-slider
					.detail-products-item
						figure
							img(src='./client/img/products/detail-products-1.png' width='317' height='611')
					.detail-products-item
						figure
							img(src='./client/img/products/detail-products-2.png' width='317' height='611')
					.detail-products-item
						figure
							img(src='./client/img/products/detail-products-3.png' width='317' height='611')
		.detail-products-customers
			.wancho
				.g-title
					h5
						| Nuestros
						span Clientes
				.detail-products-wrap
					figure.detail-customers-item
						img(src='./client/img/products/detail-products-img-1.jpg' width='219' height='137')
					figure.detail-customers-item
						img(src='./client/img/products/detail-products-img-2.jpg' width='219' height='137')
					figure.detail-customers-item
						img(src='./client/img/products/detail-products-img-3.jpg' width='219' height='137')
					figure.detail-customers-item
						img(src='./client/img/products/detail-products-img-4.jpg' width='219' height='137')
					figure.detail-customers-item
						img(src='./client/img/products/detail-products-img-5.jpg' width='219' height='137')
					figure.detail-customers-item
						img(src='./client/img/products/detail-products-img-6.jpg' width='219' height='137')
					figure.detail-customers-item
						img(src='./client/img/products/detail-products-img-1.jpg' width='219' height='137')
		.detail-products-question
			.wancho
				.g-title
					h5
						| ¿Te interesa
						span el producto?
					p Y quieres adquirirlo o tener mayor información. Ponte en contacto con nosotros.
					a(href='contac.html').g-btn.btn-green2 hazlo aquí
				//
					.results-button-apps
						a(href='#').link-app
							img(src='./client/img/detail-project/play-store.png' width='557' height='161')
						a(href='#').link-app
							img(src='./client/img/detail-project/app-store.png' width='557' height='161')


		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/owl-carousel/owl.carousel.js')
		script(src='./client/js/header.js')
		script(src='./client/js/detail-products.js')
		script(src='./client/js/sweetalert.min.js')
