doctype html
html(lang='es')
	head
		meta(charset='utf-8') 
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title Deatalle del Blog
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/banner.css')
		link(rel='stylesheet', type='text/css', href='./client/css/blog.css')
		link(rel='stylesheet', type='text/css', href='./client/css/detail-blog.css')
	body.body-blog
		include ./blocks/header.pug
		section.blog.g-banner
			.wancho 
				.g-banner-content
					h5 Creamos historias
					h6 
						| Relacionadas con la tecnología en general
						strong en el mundo entero.
		section.detail-blog-content
			.wancho
				.detail-blog-top
					.detail-blog-new
						.detail-blog-new-title
							h3 ¿Cómo generar apps moviles para iOs y con el lenguaje nativo Swift?
						.detail-blog-new-photo
						.detail-blog-description
							p 	
								| Let’s look at an example: The top voted post-it here says “I have no idea what’s happening on “project x”. Because many people have voted on it, we can 
								strong application movil
								| see it’s clearly an issue many people are having. Rephrasing the post-it in a “How Might We” format allows us to make it solvable and standardise the way the challenges are written. Here’s how that problem might be rewritten into a more general challenge:
							p   
								| The moderator now takes the “Sweet Spot” solutions off the E/I scale and asks the person who wrote the solution to give actionable steps toward testing the solution. When I say actionable, I really mean something that could be executed on in the timeframe of 1–2 weeks. My rule of thumb 
								strong is a 1-week experiment, but
								| of course this will depend on what the solution entails.
							p 	
								| Let’s look at an example: The top voted post-it here says “I have no idea what’s happening on “project x”. Because many people have voted on it, we can 
								strong application movil
								| see it’s clearly an issue many people are having. Rephrasing the post-it in a “How Might We” format allows us to make 
							p   
								| The moderator now takes the “Sweet Spot” solutions off the E/I scale and asks the person who wrote the solution to give actionable steps toward testing the solution. When I say actionable, I really mean something that could be executed on in the timeframe of 1–2 weeks. My rule of thumb 
								strong is a 1-week experiment, but
								| of course this will depend on what the solution entails.
							p   
								| The moderator now takes the “Sweet Spot” solutions off the E/I scale and asks the person who wrote the solution to give actionable steps toward testing the solution. When I say actionable, I really mean something that could be executed on in the timeframe of 1–2 weeks.
								strong My rule of thumb
								| of course this will depend on what the solution entail
						.detail-blog-tags
							i.icon-tag2
							.detail-group-tag
								.tag
									a(href='#') iOs
								.tag
									a(href='#') Posicionamiento aplicaciones
								.tag
									a(href='#') Aplicaciones moviles
								.tag
									a(href='#') iOs
								.tag
									a(href='#') Aplicaciones moviles
								.tag
									a(href='#') Posicionamiento aplicaciones
								.tag
									a(href='#') Aplicaciones moviles
								.tag
									a(href='#') iOs
								.tag
									a(href='#') Aplicaciones moviles
								.tag
									a(href='#') Posicionamiento aplicaciones
						.detail-blog-share
							.btn-share-container
								a(href='#').btn-share
									i.icon-social-facebook
									h6 Compartelo
								a(href='#').btn-share
									i.icon-social-twitter
									h6 Twittealo
								a(href='#').btn-share
									i.icon-social-linkedin
									h6 Compartelo
							.number-share
								h6 20
								h5 Compartidos
						.box-responsive
							.comments-facebook
							.detail-blog-author
								figure
									img(src='./client/img/detail-blog/author.jpg')
								.detail-blog-author-description
									h5 Jonathan Nolasco
									p 
										|Co-founder in DoApps. Tech Entrepreneur, Android & iOS developer - 
										a(href='#') http://doapps.me
					.publicity
							.question
								figure.quesiton-icon
									img(src='./client/img/blog/icon-question.png')
								h5 Nuestra pregunta es
								h6 ¿Te parece útil que se realice un curso de Github para desarrolladores?
								.question-buttons
									a(href='#').g-btn.btn-transparent SI
									a(href='#').g-btn.btn-transparent NO
							figure.publicity-image
								img(src='./client/img/blog/publicity.jpg')
							.nav-lateral
								h5 Categorías
								ul.nav-lateral-ul
									li 
										a(href='#').nav-lateral-item General
									li 
										a(href='#').nav-lateral-item Lanzamientos
									li 
										a(href='#').nav-lateral-item Seguridad
									li 
										a(href='#').nav-lateral-item Actualizaciones
								h5 Novedades
								ul.nav-lateral-ul
									li 
										a(href='#').nav-lateral-item General
									li 
										a(href='#').nav-lateral-item Lanzamientos
									li 
										a(href='#').nav-lateral-item Seguridad
									li 
										a(href='#').nav-lateral-item Actualizaciones
									li 
										a(href='#').nav-lateral-item General
									li 
										a(href='#').nav-lateral-item Lanzamientos
									li 
										a(href='#').nav-lateral-item Seguridad
									li 
										a(href='#').nav-lateral-item Actualizaciones
				.detail-blog-bottom
					.blog-content-title
						h6 También te puede interesar
					.detal-blog-row-news
						a(href='detail-blog.html').new-small
							.new-small-photo
								.category
									h6 programación
							.blog-new-description
								h2 ¿Cómo generar apps móviles desde cero?
								p Aplicaciones Android, iOs, desarrollo móvil y mucho más, sin tener muchos conocimientos previos.
								.row-author
									figure
										img(src='./client/img/blog/blog-photo-author.png')
									.author-name
										h5 Ángel Espinoza
										h6 Mar 14
						a(href='detail-blog.html').new-small
							.new-small-photo
								.category
									h6 programación
							.blog-new-description
								h2 ¿Cómo generar apps móviles desde cero?
								p Aplicaciones Android, iOs, desarrollo móvil y mucho más, sin tener muchos conocimientos previos.
								.row-author
									figure
										img(src='./client/img/blog/blog-photo-author.png')
									.author-name
										h5 Ángel Espinoza
										h6 Mar 14
						a(href='detail-blog.html').new-small
							.new-small-photo
								.category
									h6 programación
							.blog-new-description
								h2 ¿Cómo generar apps móviles desde cero?
								p Aplicaciones Android, iOs, desarrollo móvil y mucho más, sin tener muchos conocimientos previos.
								.row-author
									figure
										img(src='./client/img/blog/blog-photo-author.png')
									.author-name
										h5 Ángel Espinoza
										h6 Mar 14
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/jquery.waypoints.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')
		script(src='./client/js/detail-blog.js')
