doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title Equipo
		link(rel='stylesheet', href='./client/js/validationform/validationEngine.jquery.css')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/banner.css')
		link(rel='stylesheet', type='text/css', href='./client/css/team.css')
		link(rel='stylesheet', type='text/css', href='/client/css/sweetalert.min.css')
	body.body-team
		include ./blocks/header.pug
		section.team-banner.g-banner(style='background-image: url(../client/img/team/contact-banner.jpg)')
			.wancho
				.g-banner-content
					h5 Nos enfocamos siempre
					h6
						| En la creación de
						strong productos digitales de calidad.
		section.team-title
			.wancho
				.g-title
					h5
						| Éstos somos quienes
						span formamos DoApps
					p ¿Quieres ser parte de nuestro equipo?
					a(href='#').g-btn.btn-transparent-green postula aquí
		section.team
			.wancho
				.team-item
					.right
						figure.team-img(style='background-image: url(./client/img/team/img-angel.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-angel-activate.png);')
							figcaption ANGEL
								span ESPINOZA
						figure.team-img(style='background-image: url(./client/img/team/img-jonathan.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-jonathan-activate.png);')
							figcaption JONATHAN
								span NOLASCO
						figure.team-img(style='background-image: url(./client/img/team/img-jorge.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-jorge-activate.png);')
							figcaption JORGE
								span RAMIREZ
						figure.team-img(style='background-image: url(./client/img/team/img-juanca.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-juanca-activate.png);')
							figcaption JUAN
								span RAMOS
						figure.team-img(style='background-image: url(./client/img/team/img-raquel.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-raquel-activate.png);')
							figcaption RAQUEL
								span MORENO
						figure.team-img(style='background-image: url(./client/img/team/img-lindley.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-lindley-activate.png);')
							figcaption LINDLEY
								span CABANILLAS
						figure.team-img(style='background-image: url(./client/img/team/img-eduardo.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-eduardo-activate.png);')
							figcaption EDUARDO
								span PALOMINO
						figure.team-img(style='background-image: url(./client/img/team/img-melanie.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-melanie-activate.png);')
							figcaption MELANIE
								span VELIZ
						figure.team-img(style='background-image: url(./client/img/team/img-leo.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-leo-activate.png);')
							figcaption LEANDRO
								span CASTILLO
						figure.team-img(style='background-image: url(./client/img/team/img-lesly.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-lesly-activate.png);')
							figcaption LESLY
								span ROMERO
						figure.team-img(style='background-image: url(./client/img/team/img-joshua.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-joshua-activate.png);')
							figcaption JOSHUA
								span NAVARRO
						figure.team-img(style='background-image: url(./client/img/team/img-luis.png);')
							.team-image-hover(style='background-image: url(./client/img/team/img-luis-activate.png);')
							figcaption LUIS
								span TORRES
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/validationform/jquery.validationEngine.js')
		script(src='./client/js/validationform/jquery.validationEngine-es.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')
		script(src='./client/js/sweetalert.min.js')
