doctype html
html(lang='es')
	head
		meta(charset='utf-8') 
		title DoApps
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		link(rel='stylesheet', href='./client/js/validationform/validationEngine.jquery.css')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/js/owl-carousel/owl.carousel.css')
		link(rel='stylesheet', type='text/css', href='./client/css/main.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
	body
		include ./blocks/header.pug
		section.we-love
			.wancho 
				.we-love-content
					h1 Amamos lo que hacemos
					h2
						| Nos especializamos en desarrollo y diseño de
						span interfaces móviles.
					.row-buttons
						a(href='#').g-btn.btn-transparent-white.button-work Nuestros trabajos
				a(href='javascript:void(0)').scroll-down
					img(src='./client/img/home/scroll.png', width='22px', height='28px', alt='Scroll')
		section.client
			.wancho
				.g-title
					h5 
						| Nuestros
						span Clientes
				.client-description
					p Trabajamos con entidades privadas y del gobierno quienes apostaron por el desarrollo móvil como apoyo a su crecimiento.
				.slider-clients-container
					.row-clients
						img(src='./client/img/home/client-image1.png' width='231' height='147')
						img(src='./client/img/home/client-image2.png' width='231' height='147')
						img(src='./client/img/home/client-image3.png' width='231' height='147')
						img(src='./client/img/home/client-image4.png' width='231' height='147')
						img(src='./client/img/home/client-image1.png' width='231' height='147')
						img(src='./client/img/home/client-image2.png' width='231' height='147')
						img(src='./client/img/home/client-image3.png' width='231' height='147')
						img(src='./client/img/home/client-image4.png' width='231' height='147')
						img(src='./client/img/home/client-image1.png' width='231' height='147')
						img(src='./client/img/home/client-image2.png' width='231' height='147')
						img(src='./client/img/home/client-image3.png' width='231' height='147')
						img(src='./client/img/home/client-image4.png' width='231' height='147')
				a(href='contac.html').g-btn.btn-green1.btn-client Contáctanos
		section.we-develop
			.wancho
				.g-title
					h5 
						| Desarrollamos Aplicaciones
						span Móviles Nativas
				.we-develop-left
					ul.we-develop-top
						li
							img(src='./client/img/home/check.png')
							h6
								| Integramos
								span metodologías ágiles.
						li
							img(src='./client/img/home/check.png')
							h6
								| Usamos las últimas tecnologias para
								span iOs y Android.
						li
							img(src='./client/img/home/check.png')
							h6
								| Expertos en la
								span UX y UI
								| de las interfaces móviles.
						li
							img(src='./client/img/home/check.png')
							h6
								| Creamos apps con
								span éxito asegurado.
					.we-develop-bottom
						.item-we-develop
							img(src='./client/img/home/we-develop1.png')
							h6.timer1 140
							h5 proyectos desarrollados
						.item-we-develop
							img(src='./client/img/home/we-develop2.png')
							.row-timer
								h6.timer2 50
								h4 k
							h5 Descargas en tiendas
						.item-we-develop
							img(src='./client/img/home/we-develop3.png')
							h6.timer3 80
							h5 clientes satisfechos
				.we-develop-right
					img(src='./client/img/home/borde-celular.png', width='381px', height='646px')
					img(src='./client/img/home/fondo-celular.jpg')
		section.works
			.g-title
				h5 
					| Casos de
					span Éxito
			.works-container
				.work-card
					.work-background
					.work-content
						img(src='./client/img/home/work1-celular.png' width='190', height='386').img-cel
						.work-card-description
							h5 Descubre San Isidro
							h6 Para la municipalidad de San Isidro
							a(href='detail-project.html').g-btn.btn-transparent-white Conoce más
				.work-card
					.work-background
					.work-content
						img(src='./client/img/home/work2-celular.png' width='190', height='386').img-cel
						.work-card-description
							h5 Descubre San Isidro
							h6 Para la municipalidad de San Isidro
							a(href='detail-project.html').g-btn.btn-transparent-white Conoce más
				.work-card
					.work-background
					.work-content
						img(src='./client/img/home/work3-celular.png' width='190', height='386').img-cel
						.work-card-description
							h5 Descubre San Isidro
							h6 Para la municipalidad de San Isidro
							a(href='detail-project.html').g-btn.btn-transparent-white Conoce más
				.work-card
					.work-background
					.work-content
						img(src='./client/img/home/work4-celular.png' width='190', height='386').img-cel
						.work-card-description
							h5 Descubre San Isidro
							h6 Para la municipalidad de San Isidro
							a(href='detail-project.html').g-btn.btn-transparent-white Conoce más
				.work-card
					.work-background
					.work-content
						img(src='./client/img/home/work5-celular.png' width='190', height='386').img-cel
						.work-card-description
							h5 Descubre San Isidro
							h6 Para la municipalidad de San Isidro
							a(href='detail-project.html').g-btn.btn-transparent-white Conoce más
				.work-card
					.work-background
					.work-content
						img(src='./client/img/home/work6-celular.png' width='190', height='386').img-cel
						.work-card-description
							h5 Descubre San Isidro
							h6 Para la municipalidad de San Isidro
							a(href='detail-project.html').g-btn.btn-transparent-white Conoce más
				//
					a(href='#').g-btn.btn-green2.button-work-mobile Ver más
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/validationform/jquery.validationEngine.js')
		script(src='./client/js/validationform/jquery.validationEngine-es.js')
		script(src='./client/js/owl-carousel/owl.carousel.js')
		script(type='text/javascript', src='./client/js/jquery.waypoints.js')
		script(type='text/javascript', src='./client/js/contador.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')
		script(src='./client/js/index.js')

