doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		title Doapps SAC - Desarrollo de Aplicaciones Móviles en Perú
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		meta(name='description' content='Doapps SAC es una empresa de desarrollo de aplicaciones móviles en Perú. Creamos aplicaciones móviles nativas para IOS y Android')
		meta(name='keywords' content='')

		link(rel='stylesheet', href='./client/js/validationform/validationEngine.jquery.css')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/js/owl-carousel/owl.carousel.css')
		link(rel='stylesheet', type='text/css', href='./client/css/main.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='/client/css/sweetalert.min.css')
	body
		include ./blocks/header.pug
		section.we-love
			.wancho
				.we-love-content
					h1 Amamos lo que hacemos
					h2
						| Diseño y desarrollo de
						span aplicaciones móviles.
					.row-buttons
						a(href='#').g-btn.btn-transparent-white.button-work Conoce más
				a(href='javascript:void(0)').scroll-down
					img(src='./client/img/home/scroll.png', width='22px', height='28px', alt='Scroll')
		section.client
			.wancho
				.g-title
					h5
						| Confían en
						span Nosotros
				.client-description
					p Entidades públicas y privadas que pusieron en nuestras manos el desarrollo de sus proyectos
				.slider-clients-container
					.row-clients
						img(src='./client/img/home/client-image1.png' width='231' height='147')
						img(src='./client/img/home/client-image2.png' width='231' height='147')
						img(src='./client/img/home/client-image3.png' width='231' height='147')
						img(src='./client/img/home/client-image4.png' width='231' height='147')
				a(href='contac.html').g-btn.btn-green1.btn-client Contáctanos
		section.we-develop
			.wancho
				.g-title
					h5
						| Diseño y Desarrollo de
						span Aplicaciones Móviles
				.we-develop-left
					ul.we-develop-top
						li
							i.icon-check
							h6
								| Trabajamos con
								span Metodologías Ágiles.
						li
							i.icon-check
							h6
								| Aplicamos las últimas
								span tecnologías nativas
								| para iOS y Android.
						li
							i.icon-check
							h6
								| Diseño
								span centrado en el usuario.
						li
							i.icon-check
							h6
								span Posicionamos tu aplicaciónen
								| en la Play Store y App Store.
					.we-develop-bottom
						.item-we-develop
							i.icon-files-empty
							h6.timer1 140
							h5 proyectos desarrollados
						.item-we-develop
							i.icon-cloud-download2
							.row-timer
								h6.timer2 50
								h4 k
							h5 Descargas en tiendas
						.item-we-develop
							i.icon-like
							h6.timer3 80
							h5 clientes satisfechos
				.we-develop-right
					img(src='./client/img/home/borde-celular.png', width='381px', height='646px')
					img(src='./client/img/home/fondo-celular.jpg')
		section.works
			.g-title
				h5
					| Casos de
					span Éxito
			.works-container
				.work-card
					.work-background
					.work-content
						img(src='./client/img/home/work1-celular.png' width='190', height='386').img-cel
						.work-card-description
							h5 Descubre San Isidro
							h6 Para la municipalidad de San Isidro
							a(href='detail-project.html').g-btn.btn-transparent-white Conoce más
				.work-card
					.work-background
					.work-content
						img(src='./client/img/home/work2-celular.png' width='190', height='386').img-cel
						.work-card-description
							h5 Descubre San Isidro
							h6 Para la municipalidad de San Isidro
							a(href='detail-project.html').g-btn.btn-transparent-white Conoce más
				.work-card
					.work-background
					.work-content
						img(src='./client/img/home/work3-celular.png' width='190', height='386').img-cel
						.work-card-description
							h5 Descubre San Isidro
							h6 Para la municipalidad de San Isidro
							a(href='detail-project.html').g-btn.btn-transparent-white Conoce más

					a(href='#').g-btn.btn-green2.button-work-mobile Ver más
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/validationform/jquery.validationEngine.js')
		script(src='./client/js/validationform/jquery.validationEngine-es.js')
		script(src='./client/js/owl-carousel/owl.carousel.js')
		script(type='text/javascript', src='./client/js/jquery.waypoints.js')
		script(type='text/javascript', src='./client/js/contador.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')
		script(src='./client/js/index.js')
		script(src='./client/js/sweetalert.min.js')
