doctype html
html(lang='es')
	head
		meta(charset='utf-8') 
		title Producto
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		link(rel='stylesheet', href='./client/js/validationform/validationEngine.jquery.css')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/banner.css')
		link(rel='stylesheet', type='text/css', href='./client/css/products.css')
		link(rel='stylesheet', type='text/css', href='./client/css/service-detail.css')
	body.body-products
		include ./blocks/header.pug
		.g-banner
			.wancho 
				.g-banner-content
					h5 Desarrollamos productos
					h6 
						| a medida de lo que 
						strong requiera el cliente
		section.products-title
			.wancho
				.g-title
					h5 
						| Algunos de nuestros
						span mejores trabajos
		section.service-detail-works
			.wancho
				.service-detail-item
					.service-detail-left
						.service-detail-background
						figure
							img(src='./client/img/service-detail/service-detail-item-image.png' width='188' height='383')
					.service-detail-right
						h5 Admisión UPC
						p 
							|En junio de 2014 Apple anunció su nuevo lenguaje de
							strong programación Swift 
							|que ha tenido una recepción sorprendente por parte de la comunidad de de sus aplicaciones 
						a(href='detail-products.html').g-btn.btn-transparent-green descubre más
				.service-detail-item
					.service-detail-left
						.service-detail-background
						figure
							img(src='./client/img/service-detail/service-detail-item-image.png' width='188' height='383')
					.service-detail-right
						h5 Admisión UPC
						p 
							|En junio de 2014 Apple anunció su nuevo lenguaje de
							strong programación Swift 
							|que ha tenido una recepción sorprendente por parte de la comunidad de de sus aplicaciones 
						a(href='detail-products.html').g-btn.btn-transparent-green descubre más
				.service-detail-item
					.service-detail-left
						.service-detail-background
						figure
							img(src='./client/img/service-detail/service-detail-item-image.png' width='188' height='383')
					.service-detail-right
						h5 Admisión UPC
						p 
							|En junio de 2014 Apple anunció su nuevo lenguaje de
							strong programación Swift 
							|que ha tenido una recepción sorprendente por parte de la comunidad de de sus aplicaciones 
						a(href='detail-products.html').g-btn.btn-transparent-green descubre más
		//
			section.products-items
				
				.product-item
					.wancho
						.cnt-products
							.prod-left
								.g-title
									h5 
										span Aplicaciones móviles para Restaurantes
								.product-item-paragraph
									p
										| En junio de 2014 Apple anunció su nuevo lenguaje de programación Swift que ha tenido una recepción sorprendente por parte de la comunidad de desarrolladores, ocasionando que cada vez más personas lo usen para el diseño de sus 
										strong
											| aplicaciones en iOS.
								a(href='detail-products.html').g-btn.btn-transparent descubre mas
							.prod-right
								figure
									img(src='./client/img/products/movil-1.png' width='328' height='635')
				.product-item
					.wancho
						.cnt-products
							.prod-left
								.g-title
									h5 
										span Aplicaciones móviles para entidades de Gobierno
								.product-item-paragraph
									p
										| En junio de 2014 Apple anunció su nuevo lenguaje de programación Swift que ha tenido una recepción sorprendente por parte de la comunidad de desarrolladores, ocasionando que cada vez más personas lo usen para el diseño de sus 
										strong
											| aplicaciones en iOS.
								a(href='detail-products.html').g-btn.btn-transparent descubre más
							.prod-right
								figure
									img(src='./client/img/products/movil-2.png' width='282' height='580')
				.product-item
					.wancho
						.cnt-products
							.prod-left
								.g-title
									h5 
										span Aplicaciones móviles para Restaurantes
								.product-item-paragraph
									p En junio de 2014 Apple anunció su nuevo lenguaje de programación Swift que ha tenido una recepción sorprendente por parte de la comunidad de desarrolladores, ocasionando que cada vez más personas lo usen para el diseño de sus 
										strong aplicaciones en iOS.
								a(href='detail-products.html').g-btn.btn-transparent descubre más
							.prod-right
								figure
									img(src='./client/img/products/movil-1.png' width='328' height='635')
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/validationform/jquery.validationEngine.js')
		script(src='./client/js/validationform/jquery.validationEngine-es.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')
