doctype html
html(lang='es')
	head
		meta(charset='utf-8') 
		title Pideloo
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/banner.css')
		link(rel='stylesheet', type='text/css', href='./client/css/products.css')
	body 
		include ./blocks/header.pug
		include ./blocks/banner.pug
		section.products-title
			.wancho
				.g-title
					h5 
						| Algunos de nuestros
						span mejores trabajos
		section.products-items
			
			.product-item
				.wancho
					.cnt-products
						.prod-left
							.g-title
								h5 
									span Aplicaciones móviles para Restaurantes
							.product-item-paragraph
								p
									| En junio de 2014 Apple anunció su nuevo lenguaje de programación Swift que ha tenido una recepción sorprendente por parte de la comunidad de desarrolladores, ocasionando que cada vez más personas lo usen para el diseño de sus 
									strong
										| aplicaciones en iOS.
							a(href='detail-project.html').g-btn.btn-transparent descubre mas
						.prod-right
							figure
								img(src='./client/img/products/movil-1.png' width='328' height='635')
			.product-item
				.wancho
					.cnt-products
						.prod-left
							.g-title
								h5 
									span Aplicaciones móviles para entidades de Gobierno
							.product-item-paragraph
								p
									| En junio de 2014 Apple anunció su nuevo lenguaje de programación Swift que ha tenido una recepción sorprendente por parte de la comunidad de desarrolladores, ocasionando que cada vez más personas lo usen para el diseño de sus 
									strong
										| aplicaciones en iOS.
							a(href='detail-project.html').g-btn.btn-transparent descubre más
						.prod-right
							figure
								img(src='./client/img/products/movil-2.png' width='282' height='580')
			.product-item
				.wancho
					.cnt-products
						.prod-left
							.g-title
								h5 
									span Aplicaciones móviles para Restaurantes
							.product-item-paragraph
								p En junio de 2014 Apple anunció su nuevo lenguaje de programación Swift que ha tenido una recepción sorprendente por parte de la comunidad de desarrolladores, ocasionando que cada vez más personas lo usen para el diseño de sus 
									strong aplicaciones en iOS.
							a(href='detail-project.html').g-btn.btn-transparent descubre más
						.prod-right
							figure
								img(src='./client/img/products/movil-1.png' width='328' height='635')
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/jquery.waypoints.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')
