doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title Servicios
		link(rel='stylesheet', href='./client/js/validationform/validationEngine.jquery.css')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/js/owl-carousel/owl.carousel.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/banner.css')
		link(rel='stylesheet', type='text/css', href='./client/css/service.css')
		link(rel='stylesheet', type='text/css', href='/client/css/sweetalert.min.css')
	body.body-service
		include ./blocks/header.pug
		section.service.g-banner(style='background-image: url(../client/img/service/service-background.jpg)')
			.wancho
				.g-banner-content
					h5 Trazamos un camino
					h6
						| Desarrollando para Android y iOs, diseñando interfaces
						strong móviles nativas y aplicando IOT.
		section.service-list
			.wancho
				.g-title
					h5
						| Nuestros
						span Servicios
					h6 Descubre cada uno de los servicios que desarrollamos.
				.new-service-list
					.new-service-item
						figure.new-figure
							img(src='./client/img/service/desarrollo-android.png' width='150' height='150')
						h2.new-h2
							| Desarrollo
							strong Android
						.new-service-item-hover
							h2.new-h2-hover
								| Aplicaciones nativas en
								strong Java
							figure.new-figure-hover
								img(src='./client/img/service/desarrollo-android-2.png.png' width='300' height='120')	
		section.client.service-client
			.wancho
				.g-title
					h5
						| Nuestros
						span Clientes
				.client-description
					p Trabajamos con entidades privadas y del gobierno quienes apostaron por el desarrollo móvil como apoyo a su crecimiento.
				.slider-clients-container
					.row-clients
						img(src='./client/img/home/client-image1.png' width='231' height='147')
						img(src='./client/img/home/client-image2.png' width='231' height='147')
						img(src='./client/img/home/client-image3.png' width='231' height='147')
						img(src='./client/img/home/client-image4.png' width='231' height='147')
						img(src='./client/img/home/client-image1.png' width='231' height='147')
						img(src='./client/img/home/client-image2.png' width='231' height='147')
						img(src='./client/img/home/client-image3.png' width='231' height='147')
						img(src='./client/img/home/client-image4.png' width='231' height='147')
						img(src='./client/img/home/client-image1.png' width='231' height='147')
						img(src='./client/img/home/client-image2.png' width='231' height='147')
						img(src='./client/img/home/client-image3.png' width='231' height='147')
						img(src='./client/img/home/client-image4.png' width='231' height='147')
		section.service-process
			.wancho
				.title-special
					.g-title
						h5
							| Nuestro
							span Proceso
					h6 lo hacemos en 5 pasos
				.service-process-image(data-img='./client/img/service/service-process-mobile.png;./client/img/service/service-process-tablet.png;./client/img/service/service-process-desktop.png')
					figure.service-process-figure
						img.service-process-bg
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/validationform/jquery.validationEngine.js')
		script(src='./client/js/validationform/jquery.validationEngine-es.js')
		script(src='./client/js/owl-carousel/owl.carousel.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')
		script(src='./client/js/service.js')
		script(src='./client/js/sweetalert.min.js')
