doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
		title Detalle del servicio
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/banner.css')
		link(rel='stylesheet', type='text/css', href='./client/css/detail-products.css')
		link(rel='stylesheet', type='text/css', href='./client/css/detail-project.css')
		link(rel='stylesheet', type='text/css', href='./client/css/service-detail.css')
	body.body-service-detail
		include ./blocks/header.pug
		section.service-detail.g-banner
			.wancho 
				.g-banner-content
					h5 Desarrollo Android
					h6 
						| Aplicaciones nativas
						strong en java.

		section.service-detail.detail-client.products-detail
			.wancho
				.g-title
					h5 
						| ¿Cómo
						span lo hacemos?
				.detail-client-p
					p 
						| En primer lugar, nos encontramos con tener que saber y tener
						strong a la mano los reportes
						| de
						strong tsunamis en el Perú.
						| Es muy importante que los anunciantes aprendan a planificarse. Algunas empresas suelen hacer acciones de
						strong marketing por separado,
						| pero se olvidan de que el marketing es algo global con tener que saber.
				.detail-characteristics-cnt
					ul.characteristics
						li En primer lugar
							i.icon-check
							strong tsunamis en el Peru  
						li En primer lugar
							i.icon-check
							strong tsunamis en el Peru  
						li En primer lugar
							i.icon-check
							strong tsunamis en el Peru  
						li En primer lugar
							i.icon-check
							strong tsunamis en el Peru  
						li En primer lugar
							i.icon-check
							strong tsunamis en el Peru  
						li En primer lugar
							i.icon-check
							strong tsunamis en el Peru 
		section.service-detail-works
			.wancho
				.g-title
					h5 
						| Algunos de nuestros
						span mejores trabajos
				.service-detail-item
					.service-detail-left
						.service-detail-background
						figure
							img(src='./client/img/service-detail/service-detail-item-image.png' width='188' height='383')
					.service-detail-right
						h5 Admisión UPC
						p 
							|En junio de 2014 Apple anunció su nuevo lenguaje de
							strong programación Swift 
							|que ha tenido una recepción sorprendente por parte de la comunidad de de sus aplicaciones 
						a(href='detail-project.html').g-btn.btn-transparent descubre más
				.service-detail-item
					.service-detail-left
						.service-detail-background
						figure
							img(src='./client/img/service-detail/service-detail-item-image.png' width='188' height='383')
					.service-detail-right
						h5 Admisión UPC
						p 
							|En junio de 2014 Apple anunció su nuevo lenguaje de
							strong programación Swift 
							|que ha tenido una recepción sorprendente por parte de la comunidad de de sus aplicaciones 
						a(href='detail-project.html').g-btn.btn-transparent descubre más
				.service-detail-item
					.service-detail-left
						.service-detail-background
						figure
							img(src='./client/img/service-detail/service-detail-item-image.png' width='188' height='383')
					.service-detail-right
						h5 Admisión UPC
						p 
							|En junio de 2014 Apple anunció su nuevo lenguaje de
							strong programación Swift 
							|que ha tenido una recepción sorprendente por parte de la comunidad de de sus aplicaciones 
						a(href='detail-project.html').g-btn.btn-transparent descubre más
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(type='text/javascript', src='./client/js/jquery.waypoints.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')