doctype html
html(lang='es')
	head
		meta(charset='utf-8') 
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title Blog
		link(rel='stylesheet', type='text/css', href='./client/js/owl-carousel/owl.carousel.css')
		link(rel='stylesheet', type='text/css', href='./client/css/header.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/banner.css')
		link(rel='stylesheet', type='text/css', href='./client/css/service.css')
	body
		include ./blocks/header.pug
		section.service.g-banner
			.wancho 
				.g-banner-content
					h5 Trazamos un camino
					h6 
						| Desarrollando para Android y iOs, diseñando interfaces
						strong móviles nativas y aplicando IOT.
		section.service-list
			.wancho
				.g-title
					h5 
						| Nuestros
						span Servicios
					h6 Descubre cada uno de los servicios que desarrollamos.
				.service-row-service
					.service-item
						.service-image
						.service-content-item
							figure
								img(src='./client/img/service/service-icon1.png')
							h2 Android
							h5 Aplicaciones Nativas en Java
					.service-item
						.service-image
						.service-content-item
							figure
								img(src='./client/img/service/service-icon2.png')
							h2 iOs
							h5 Aplicaciones Nativas en Swift
					.service-item
						.service-image
						.service-content-item
							figure
								img(src='./client/img/service/service-icon3.png')
							h2 UX - UI
							h5 Diseño de interfaces móviles
					.service-item
						.service-image
						.service-content-item
							figure
								img(src='./client/img/service/service-icon4.png')
							h2 IOT
							h5 Arduino - Beacones & Rasberry Pi
					.service-item
						.service-image
						.service-content-item
							figure
								img(src='./client/img/service/service-icon5.png')
							h2 Realidad Aumentada
							h5 Uso específico de coordenadas
					.service-item
						.service-image
						.service-content-item
							figure
								img(src='./client/img/service/service-icon6.png')
							h2 Realidad Virtual
							h5 Uso de Google Cardboard
		section.client.service-client
			.wancho
				.g-title
					h5 
						| Nuestros
						span Clientes
				.client-description
					p Trabajamos con entidades privadas y del gobierno quienes apostaron por el desarrollo móvil como apoyo a su crecimiento.
				.slider-clients-container
					.row-clients
						img(src='./client/img/upc.png')
						img(src='./client/img/miraflores.png')
						img(src='./client/img/congreso.png')
						img(src='./client/img/marina.png')
					.row-clients
						img(src='./client/img/miraflores.png')
						img(src='./client/img/congreso.png')
						img(src='./client/img/marina.png')
						img(src='./client/img/upc.png')
					.row-clients
						img(src='./client/img/marina.png')
						img(src='./client/img/upc.png')
						img(src='./client/img/miraflores.png')
						img(src='./client/img/congreso.png')
		section.service-process
			.wancho
				.title-special
					.g-title
						h5 
							| Los
							span Wireframes
					h6 UX (Experiencia de Usuario)
				.service-process-image(data-img='./client/img/service/service-process-mobile.png;./client/img/service/service-process-tablet.png;./client/img/service/service-process-desktop.png')
					//
						figure.service-process-figure
					span.service-process-bg
		include ./blocks/footer.pug

		script(src='./client/js/jquery1.8.3.min.js')
		script(src='./client/js/owl-carousel/owl.carousel.js')
		script(src='./client/js/jquery.waypoints.js')
		script(src='./client/js/footer.js')
		script(src='./client/js/header.js')
		script(src='./client/js/service.js')