.footer-top
	.wancho 
		.g-title
			h5 
				| Cúentanos sobre <br>
				span tu proyecto
		form.footer-form
			.input-container
				input(id='name').form-input
				.row-input-content
					img(src='./client/img/footer/input-name.png', width='38', height='32')
					label(for='name') ¿Cúal es tu nombre?
				span.lively-bar
			.input-container
				input(id='email').form-input
				.row-input-content
					img(src='./client/img/footer/input-email.png', width='38', height='32')
					label(for='email') ¿Cúal es tu correo?
				span.lively-bar
			.input-container
				input(id='tel').form-input
				.row-input-content
					img(src='./client/img/footer/input-tel.png', width='38', height='32')
					label(for='tel') ¿Cúal es tu teléfono?
				span.lively-bar
			.input-container
				input(id='product').form-select
				.row-input-content.row-select-content
					img(src='./client/img/footer/input-product.png', width='38', height='32')
					label(for='product') ¿Qué eres?
					ul.ul-form-select
						li Empresa
						li Emprendedor
				span.lively-bar
			.input-container.textarea-container
				textarea(id='write').form-input
				.row-input-content
					img(src='./client/img/footer/input-write.png', width='38', height='32')
					label(for='write') Descríbenos tu proyecto
				span.lively-bar
			button.g-btn.btn-green2.button-form Empecemos!
footer.footer-bottom
	.wancho 
		img(src='./client/img/footer/logo-footer.png').logo-footer
		.footer-bottom-left
			.footer-item
				img(src='./client/img/footer/footer-direction.png')
				h6 Av. Aramburú #856 Of.301 / Surquillo
			.footer-item
				img(src='./client/img/footer/footer-email.png')
				a(href='mailto:hola@doapps.me') hola@doapps.me
			.footer-item
				img(src='./client/img/footer/footer-tel.png')
				.footer-row-tel
					a(href='tel:2832025') (+51) 283 2025
					span /
					a(href='tel:986077524') 986077524
			.footer-copyright
				h5 &copy 2017 DoApps S.A.C Todos los derechos reservados


