header 
	img(src='./client/img/logo.png' width='228px' height ='67px' alt='DoApps')
	ul.list-items
		span.movable-bar
		li
			a(href='#').item-link Servicios
		li
			a(href='#').item-link Casos de Éxito
		li
			a(href='#').item-link Productos
		li
			a(href='#').item-link Equipo
		li
			a(href='#').item-link Blog
		li
			a(href='#').item-link Contacto