header
	.wancho
		a.link-logo(href='index.html')
			img(src='./client/img/header/logo.png' width='228' height ='67' alt='DoApps')
		a.link-logo-mobile(href='index.html')
			img(src='./client/img/header/logo-mobile.png' width='43' height ='43' alt='DoApps')
		i.icon-menu2.open-menu-mobile
		ul.list-items
			span.movable-bar
			li
				a(href='service.html').item-link Servicios
			li
				a(href='success-stories.html').item-link Casos de Éxito
			li
				a(href='products.html').item-link Productos
			li
				a(href='team.html').item-link Equipo
			li
				a(href='blog.html').item-link Blog
			li
				a(href='contact.html').item-link Contacto