header 
	a(href='index.html')
		img(src='./client/img/logo.png' width='228px' height ='67px' alt='DoApps')
	ul.list-items
		span.movable-bar
		li
			a(href='service.html').item-link Servicios
		li
			a(href='success-stories.html').item-link Casos de Éxito
		li
			a(href='products.html').item-link Productos
		li
			a(href='team.html').item-link Equipo
		li
			a(href='blog.html').item-link Blog
		li
			a(href='contac.html').item-link Contacto